.DS_Store
node_modules
app/vendors
npm-debug.log
.tmp
.sass-cache
.idea
.settings/
src/META-INF/
src/log4j.properties
war/WEB-INF/classes/
libpeerconnection.log
dist/scripts/localConfig.js
test/spec/testConfig.js
test-results.xml
dist
production/
