section#dashboard
	.page-header.agenda-timeline
		h2.nullable Instellingen
	div(style='margin-top: 20px;')
		.form-group.has-feedback.pull-left(ng-show='app.resources.teamUuids.length > 1 || app.resources.role == 1')
			//input.form-control(type='text', name='daterange', ng-model='daterange', log-ranger='')
			label.control-label {{ ui.teamup.selectTeam }} 
			.controls
				select(ng-model='options.current',
				ng-options='team.uuid as team.name for team in options.teams | orderBy:"name"',
				ng-selected='options.current',
				ng-change='options.fetch()')
			
	.tabbable.tabs-left
		ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0;', bs-navbar)
			include ../agenda/tabs
				
		.tab-content
			#availabilities.sa.widget
				div.head
					h4
						| Instellingen{{options.current | groupIdToName:true | toTitleCase}} {{ options.loadTeam }}
				div
					form.form-vertical(name='optionsForm', novalidate)
						
						//.form-group
						//	label.control-label SMS bij een gemist gesprek of nieuwe voicemail
						//	.controls
						//		label.radio-inline
						//			input(type="radio" ng-model='options.scenarios.sms',
						//				name="sms-on-new-team-voicemail", ng-value='true')
						//			| Aan
						//		label.radio-inline
						//			input(type="radio" ng-model='options.scenarios.sms',
						//				name="sms-on-new-team-voicemail", ng-value='false')
						//			| Uit
						//		span.help-block
						//			small
						//				i
						//					| Bereikbare teamleden ontvangen {{ (options.scenarios.sms) ? 'een' : 'geen' }} SMS als het team een gesprek heeft gemist of als er een voicemail is ingesproken.
										
						hr
						
						.form-group
							label.control-label Rinkeltijd
							.controls
								div.input-group(style='width: 250px;')
									div.range
										input(type="range" name="range" min="15" max="30" step="5" ng-model='options.scenarios.ringingTimeOut')
										output#range &nbsp; {{ options.scenarios.ringingTimeOut }} seconden &nbsp;
								span.help-block(style='min-height: 14px; margin-bottom: 10px;')
									small
										i
											| Bij een langere rinkeltijd hebben teamleden meer tijd om op te nemen, maar de totale wachttijd voor cli&euml;nten kan langer zijn als er veel teamleden zijn aangemeld.
								span.help-block(style='min-height: 14px; margin-bottom: 10px;')
									small
										i.text-danger(ng-show='options.scenarios.ringingTimeOut >= 20')
											| Bij een rinkeltijd van meer dan 15 seconden is het aanbevolen dat alle teamleden hun persoonlijke voicemail uitschakelen.


						//
						//.form-group
						//	label.control-label Persoonlijke voicemailpreventie
						//	.controls
						//		label.radio-inline
						//			input(type="radio" ng-model='options.scenarios.voicemailDetection',
						//			name="voicemail-detection-menu", ng-value='true')
						//			| Aan
						//		label.radio-inline
						//			input(type="radio" ng-model='options.scenarios.voicemailDetection',
						//			name="voicemail-detection-menu", ng-value='false')
						//			| Uit
						//		span.help-block(style='height: 14px; margin-bottom: 35px;')
						//			small
						//				i
						//					| Als deze optie is ingeschakeld, krijgen teamleden eerst de vraag of ze het gesprek willen aannemen van een cli&euml;nt. Door deze optie aan te zetten, kan worden voorkomen dat een cli&euml;nt wordt doorverbonden met de persoonlijke voicemail van een teamlid.
						//
						.form-actions
							button.btn.btn-success(type='submit',
								ng-click='options.save(options.scenarios)') {{ ui.order.confirmation }}
							
							//&& !options.scenarios.voicemailDetection
							//Bij een rinkeltijd van meer dan 15 seconden is het aanbevolen dat 
							//alle teamleden hun persoonlijke voicemail uitschakelen of om gebruik te maken van de persoonlijke 
							//voicemailpreventie. Het uitzetten van de persoonlijke voicemail (van de werktelefoon) kunt u regelen bij de telefoonprovider.