<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 ng-app"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="WebPaige"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="WebPaige"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{config.profile.title}}</title>
    
    <meta name="description" content="WebPaige v2.0.0">
    <meta name="viewport" content="width=device-width">
    
    <!-- favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" ng-href="profiles/{{config.profile.meta}}/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" ng-href="profiles/{{config.profile.meta}}/img/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" ng-href="profiles/{{config.profile.meta}}/img/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="57x57" ng-href="profiles/{{config.profile.meta}}/img/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" ng-href="profiles/{{config.profile.meta}}/img/ico/favicon.ico">

    <!-- styles -->
    <link rel="stylesheet" href="dist/bootstrap.css">
    <link rel="stylesheet" href="dist/responsive.css">
    <link rel="stylesheet" href="dist/app.css">

    <!-- jquery -->
    <script src="libs/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script src="libs/rsvp/1.0.0/rsvp.min.js"></script>
    <script src="dist/plugins.min.js"></script>

    <!-- profile configs -->
    <script src="profiles/profile.js"></script>

    <!--[if IE]><link rel="stylesheet" href="css/ie.css"><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="css/ie8.css"><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if gt IE 7]><script src="libs/angular-ui/0.4.0/angular-ui-ieshiv.min.js"></script><![endif]-->
    
    <!-- compability tests and css fixers -->
    <script src="libs/modernizr/2.6.2/modernizr-2.6.2.min.js"></script>

    
    <script type="text/javascript">
      $(document).ready(function ()
      {
        $(".chzn-select").chosen();
        $(".chzn-select-deselect").chosen({allow_single_deselect:true});

        $('#basket').affix();
      });
    </script>
    
  </head>
  <body>


    <!-- navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top ng-cloak" 
          ng-hide="(location=='login' || location=='forgotpass' || location=='register')" 
          bs-navbar>
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#dashboard">{{config.profile.title}}</a>
          <!-- nav-collapse -->
          <div class="nav-collapse collapse">

            <!-- user menu -->

            <!-- desktop version -->
            <ul class="nav pull-right" ng-hide="browser.mobile">

              <li>
                <a href="#profile"><i class="icon-shopping-cart icon-white"></i> Credits: 10 EUR</a>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user icon-white"></i> Account Name <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#profile"><i class="icon-thumbs-up"></i> Invite and refer</a>
                  </li>
                  <li>
                    <a href="#settings"><i class="icon-user"></i> Account Settings</a>
                  </li>
                  <li>
                    <a href="#settings"><i class="icon-question-sign"></i> Help</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#logout"><i class="icon-off"></i> Logout</a>
                  </li>
                </ul>
              </li>

              <!-- <li id="fullscreener" ng-show="config.fullscreen && browser.webkit">
                <a ng-click="fullScreen()"><i class="icon-fullscreen icon-white"></i></a>
              </li> -->

            </ul>
            <!-- end desktop version -->

            <!-- mobile or tablet version -->
            <ul class="nav pull-right" ng-show="browser.mobile" style="{{(browser.landscape) && 'margin-right:-20px'}}">
              <li>
                <a href="#profile">
                  <i class="icon-user icon-white" ng-hide="browser.portrait || browser.screen.width < 768"></i>
                  <span ng-show="browser.portrait || browser.screen.width < 768">Profile</span>
                </a>
              </li>
              <li>
                <a href="#settings">
                  <i class="icon-wrench icon-white" ng-hide="browser.portrait || browser.screen.width < 768"></i>
                  <span ng-show="browser.portrait || browser.screen.width < 768">Settings</span>
                </a>
              </li>
              <li>
                <a href="#logout">
                  <i class="icon-off icon-white" ng-hide="browser.portrait || browser.screen.width < 768"></i>
                  <span ng-show="browser.portrait || browser.screen.width < 768">Logout</span>
                </a>
              </li>
            </ul>
            <!-- end mobile or tablet version -->
            
            <!-- end user menu -->

          </div>
          <!-- end nav-collapse -->
        </div>
      </div>
    </div>
    <!-- end navbar -->
    

    <!-- loading -->
    <div id="loading" ng-show="loadingBig" class="ng-cloak">
      <div ng-show="loaderIcons.general">
        <span class="entypo">&#9203;</span>
        <p>{{ui.loading.general}}...</p>
      </div>
      <div ng-show="loaderIcons.dashboard">
        <span class="entypo">&#9716;</span>
        <p>{{ui.loading.general}}<br>{{ui.loading.dashboard}}</p>
      </div>
      <div ng-show="loaderIcons.planboard">
        <span class="entypo">&#128340;</span>
        <p>{{ui.loading.general}}<br>{{ui.loading.planboard}}</p>
      </div>
      <div ng-show="loaderIcons.messages">
        <span class="entypo">&#59255;</span>
        <p>{{ui.loading.general}}<br>{{ui.loading.messages}}</p>
      </div>
      <div ng-show="loaderIcons.groups">
        <span class="entypo">&#128101;</span>
        <p>{{ui.loading.general}}<br>{{ui.loading.groups}}</p>
      </div>
      <div ng-show="loaderIcons.profile">
        <span class="entypo">&#128100;</span>
        <p>{{ui.loading.general}}<br>{{ui.loading.profile}}</p>
      </div>
      <div ng-show="loaderIcons.settings">
        <span class="entypo">&#9874;</span>
        <p>{{ui.loading.general}}<br>{{ui.loading.settings}}</p>
      </div>
    </div>
    <!-- end loading -->


    <!-- notifications -->
    <div id="notification" class="alert {{notification.type}}" ng-show="notification.status">
      <button type="button" class="close" ng-click="notification.status = false">&times;</button>
      {{notification.message}}
    </div>
    <!-- end notifications -->


    <!-- wrap -->
    <div id="wrap">
      <!-- container-fluid -->
      <div class="container-fluid">
        <div ng-view></div>
      </div>
      <!-- end container-fluid -->
      <div id="push"></div>
    </div>
    <!-- end wrap -->


    <!-- mobile status bar -->
    <div id="mobile-status-bar" ng-show="loading.status && browser.mobile" class="ng-cloak">
      <img src="img/ajax-loader.gif"><small>{{loading.message}}</small>
    </div>
    <!-- end mobile status bar -->


    <!-- footer -->
    <div id="footer"
          ng-hide="browser.mobile || (location=='login' || location=='forgotpass' || location=='register')" 
          class="ng-cloak">
      <div class="container-fluid">

        <!-- copyrights -->
        <div id="copyrights">

          <!-- ask & version -->
          <span class="muted" ng-style="(!config.profile.mobileApp.status) && 'right:0'">
            <small>
              Ask Community Systems, 2013<br><i>OneLine <a href="version.html" target="_blank">v{{config.version}}</a></i>
            </small>
          </span>
          <!-- end ask & version -->

          <!-- download mobile app -->
          <div id="download-footer" ng-show="config.profile.mobileApp.status">
            <!-- <a href="#myModal" role="button" class="btn" data-toggle="modal"> -->
            <button href="#myModal" data-toggle="modal" class="btn btn-success btn-large" type="button" ng-click="downloadMobileApp()">
              Business account
            </button>
          </div>
          <!-- end download mobile app -->
        </div>
        <!-- end copyrights -->

        <!-- general preloader -->
        <p class="muted" ng-show="loading.status">
          <img src="img/ajax-loader.gif"><small><span ng-show="app.preloader.status">{{app.preloader.count}}% </span>{{loading.message}}</small>
        </p>
        <!-- end general preloader -->

      </div>
    </div>
    <!-- end footer -->


    <!-- convert to business account modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Oneline Business</h3>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="span4">
            <p>You can create user centered communication at your business that;</p>
            <ul>
              <li>Creates shortcuts for departments</li>
              <li>Increases the response rate</li>
              <li>Measures customer satisfaction</li>
            </ul>
          </div>
          <div class="span1">
            <div style="display: block;" class="text-center">
              <span aria-hidden="true" class="icomoon icomoon-user-block-2" style="font-size: 8em; line-height: 1.2em;"></span>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">Yes, I want it!</button>
      </div>
    </div>
    <!-- end convert to business account modal -->


    <!--[if gt IE 7]><!-->
    <script src="libs/date/1.0/date.min.js"></script>
    <script src="libs/angular/1.0.5/angular.min.js"></script>
    <script src="libs/angular/1.0.5/angular-resource.min.js"></script>
    <script src="libs/bootstrap/bootstrap.min.js"></script>
    
    <!-- <script src="dist/app.min.js"></script> -->
    <script src="src/app.js"></script>
    <!--<![endif]-->

    
    <script type="text/javascript">
      /**
       * Profile based analytics
       */
      if (window.profile.analytics.status) window.profile.analytics.code();

      /**
       * Livereload only on localhost
       */
      if (location.host.split(':')[0] == 'localhost')
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
    </script>
    
    
  </body>
</html>