doctype html
html.no-js(lang='en')
  head
    title TeamUp
    style.
      body, html {
        background: url(../images/img/login_bg.jpg) no-repeat center center fixed,
        background-size: cover
      }
    script.
      document.cookie = "WebPaige.session=''; expires=Thu, 01-Jan-1970 00:00:01 GMT";
      window.location = "index.html";
  body