/**
 * Welcoming page styles
 */
#welcome {
  margin: 30px auto 20px auto;
  padding: 35px 29px 19px 29px;
  max-width: 300px;
  border: 1px solid #d0cec1;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(103,97,83,.05);
  text-align: center;

  h2 {
    color: #333;
    text-align: center;
  }

  h4 {
    color: #bbb;
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    padding-bottom: 15px;
  }
}


/**
 * Box style
 */
.boxed {
  margin: 0;

  label {
    font-weight: normal;
  }

  p {
    margin-top:15px;
  }

  form {
    input[type=text], input[type=password] {
      margin-bottom: 15px;
      padding: 7px 9px;
      width: 90%;
      height: auto;
    }

    button {
      display: block;
      margin: 0 auto;
      margin-top: 15px;
    }

    .checkbox {
      margin: 0 auto 25px;
      padding-left: 35px;
      width: 90%;
      text-align: left;
    }

    span.version {
      display: block;
      margin-top: 10px;
      margin-bottom: -20px;
      text-align: center;
      font-size: 11px;

      a {
        color: #aaa;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .alert {
      margin-left: 5px;
      width: 240px;
      text-align: left;

      button {
        margin-top: 0;
      }

      button[type=submit] {
        display: inline;
        margin: 0 auto;
      }
    }
  }
}


#demo_users {
  position: absolute;
  right: 20px;
  bottom: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none; 
  }

  li {  
  }
}
