#timeline {
  
}


#timeline-controls {
  padding-bottom: 20px;
  overflow: hidden;
}


#timeline-toolbar {
  overflow: hidden;
  padding: 0 0 0 0;
  height: 35px;

  select {
    margin: 0;
    padding: 0;
    width: 160px;

    &:last-child {
      margin-left: 10px;
    }
  }

  .btn-group {
    margin-left: 10px;
  }
}


#stats {
  overflow: hidden;

  #groupStats {
    display: block;
    overflow: hidden;

    #groupPie {
      float:left;
      width: 235px;
      height: 270px;

      margin-right: 25px;
    }

    .groupStatInfo {
      margin-top: 40px;

      ul {
        list-style: none;

        li {
          width: auto;
          margin-right: 30px;
          float: left;
          margin-bottom: 30px;
          display: inline;

          div {
            float: left;
            height: 40px;
          }

          .ratios {
            margin-right: 15px;
            margin-top: -5px;
            width: 75px;
            height: 75px;
            text-align: center;
            -webkit-border-radius: 5px;
               -moz-border-radius: 5px;
                    border-radius: 5px;
            color: #fff;

            .ratio {
              display: block;
              font-size: 38px;
              font-weight: bold;
              padding-top: 18px;
            }

            .percentage {
              display: block;
              padding-top: 10px;
            }
          }

          .more {
            background-color: #415e6b;  
          }

          .even {
            background-color: #ba6a24;  
          }

          .less {
            background-color: #a0a0a0;  
          }

          .info {
            margin-top: -5px;

            h5 {
              display: inline;

              &:first-child {
                margin-top: 0;
              }
            }

            h4 {
              padding-bottom: 10px;
              border-bottom: 1px solid #ddd;
            }

            small {
            }
          }
        }
      }
    }
  }
}


#memberBars {
  ul {
    list-style: none;

    li {
      float: left;
      width: 280px;
      height: 110px;
      margin-right: 30px;
      margin-bottom: 30px;

      h4 {  
      }

      .progress {
        margin-bottom: 5px;
      
        .bar {
          width: 100%;
        }

        .bar-Available {
          background-color: #4f824f;
          background-image: -moz-linear-gradient(top, #4f824f, #406940);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4f824f), to(#406940));
          background-image: -webkit-linear-gradient(top, #4f824f, #406940);
          background-image: -o-linear-gradient(top, #4f824f, #406940);
          background-image: linear-gradient(to bottom, #4f824f, #406940);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4f824f', 
          endColorstr='#ff406940', GradientType=0);
        }

        .bar-BeschikbaarZuid {
          background-color: #e08a0c;
          background-image: -moz-linear-gradient(top, #e08a0c, #c77b0a);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e08a0c), to(#c77b0a));
          background-image: -webkit-linear-gradient(top, #e08a0c, #c77b0a);
          background-image: -o-linear-gradient(top, #e08a0c, #c77b0a);
          background-image: linear-gradient(to bottom, #e08a0c, #c77b0a);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe08a0c', 
          endColorstr='#ffc77b0a', GradientType=0);
        }

        .bar-BeschikbaarNoord {
          background-color: #1a1a1a;
          background-image: -moz-linear-gradient(top, #1a1a1a, #050505);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1a1a1a), to(#050505));
          background-image: -webkit-linear-gradient(top, #1a1a1a, #050505);
          background-image: -o-linear-gradient(top, #1a1a1a, #050505);
          background-image: linear-gradient(to bottom, #1a1a1a, #050505);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a1a1a', 
          endColorstr='#ff050505', GradientType=0);  
        }

        .bar-SchipperVanDienst {
          background-color: #e0c100;
          background-image: -moz-linear-gradient(top, #e0c100, #c7ac00);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e0c100), to(#c7ac00));
          background-image: -webkit-linear-gradient(top, #e0c100, #c7ac00);
          background-image: -o-linear-gradient(top, #e0c100, #c7ac00);
          background-image: linear-gradient(to bottom, #e0c100, #c7ac00);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe0c100', 
          endColorstr='#ffc7ac00', GradientType=0); 
        }

        .bar-Unavailable {
          background-color: #a93232;
          background-image: -moz-linear-gradient(top, #a93232, #8f2b2b);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a93232), to(#8f2b2b));
          background-image: -webkit-linear-gradient(top, #a93232, #8f2b2b);
          background-image: -o-linear-gradient(top, #a93232, #8f2b2b);
          background-image: linear-gradient(to bottom, #a93232, #8f2b2b);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa93232', 
          endColorstr='#ff8f2b2b', GradientType=0);  
        }
      }

    }
  }
}


/*legenda*/
.legenda {
  background-color: #f5f4ee;
  padding-top: 10px;
  margin-top: -20px;
}


.legenda-row {
  overflow: hidden;
  display: block;
  margin: 10px 20px;

  strong {
    width: 90px;
    display: inline;
    float: left;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
    margin-top: 5px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin-right: 15px;
      border-right: 1px solid #ddd;
      padding-right: 15px;
      min-width: 135px;
      font-size: 11px;

      &:last-child {
        margin-right: 0;
        border-right: none;
        padding-right: 0;
      }

      label {
        font-size: 11px;

        &:hover {
          cursor: pointer;
          color: #65619b;
        }
      }

      input {
        margin: -2px 4px 0 0;
      }
    }
  }

  .square {
    display: block;
    height: 12px;
    width: 12px;
    margin-top: 4px;
  }
}

.last-legenda-row {
  margin-bottom: -5px;
}




.legenda-row .legenda-state-available .square {
  background-color: #4f824f;
}

.legenda-row .legenda-state-available-north .square {
  background-color: black; 
}

.legenda-row .legenda-state-available-south .square {
  background-color: #e08a0c;
}

.legenda-row .legenda-state-unavailable .square {
  background-color: #a93232;  
}

.legenda-row .legenda-state-schipper-service .square {
  background-color: #e0c100; 
}

.legenda-row .legenda-state-unreached .square {
  background-color: #65619b;
}

.legenda-row .legenda-more .square {
  background-color: #415e6b;  
}

.legenda-row .legenda-even .square {
  background-color: #ba6a24;  
}

.legenda-row .legenda-less .square {
  background-color: #a0a0a0;  
}






#legends {
  display: block;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;

  ul {
    margin-left: 1px;
    list-style: none;

    li {
      display: inline;
      float: left;
      margin-right: 25px;
      list-style-image: none;
    }
  }
}

.square {
  float: left;
  margin-top: 1px;
  margin-right: 5px;
  width: 14px;
  height: 14px;
}








div.bar span {
    font-size: 9px;
}














div.timeline-frame {
    border: 1px solid #ddd;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 30px;
}

div.timeline-axis {
    background-color: #676153;
    color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-top-style: solid;
}
div.timeline-axis-grid {
    border-left-style: solid;
    border-width: 1px;
}
div.timeline-axis-grid-minor {
    border-color: #e5e5e5;
}
div.timeline-axis-grid-major {
    border-color: #bfbfbf;
}
div.timeline-axis-text {
    /*color: #4D4D4D;*/
    color: #f5f4ee;
    padding: 3px;
    white-space: nowrap;
    font-size: 11px;
}

div.timeline-axis-text-minor {
}

div.timeline-axis-text-major {
}

div.timeline-event {
    /*color: #1A1A1A;*/
    /*border-color: #ddd;*/
    /*background-color: #D5DDF6;*/
    display: inline-block;

    /*padding: 0;*/

    background-color: #ddd;
}

div.timeline-event-selected {
    border-color: #FFC200;
    /*background-color: #676153;*/
    opacity: .7;
    z-index: 999;
}

div.timeline-event-cluster {
    /* TODO: use another color or pattern? */
    background: #97B0F8 url('../img/timeline/cluster_bg.png');
    color: white;
}
div.timeline-event-cluster div.timeline-event-dot {
    border-color: #D5DDF6;
}

div.timeline-event-box {
    text-align: center;
    /*border-style: solid;
    border-width: 1px;*/
    border-radius: 5px;
    -moz-border-radius: 5px; /* For Firefox 3.6 and older */
}

div.timeline-event-dot {
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;  /* For Firefox 3.6 and older */
}

div.timeline-event-range {
    /*border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    -moz-border-radius: 2px;  /* For Firefox 3.6 and older */
}

div.timeline-event-range-drag-left {
    cursor: w-resize;
    z-index: 1000;
}

div.timeline-event-range-drag-right {
    cursor: e-resize;
    z-index: 1000;
}


div.timeline-event-line {
    border-left-width: 1px;
    border-left-style: solid;
}

div.timeline-event-content {
/*    margin: 5px;
    white-space: nowrap;
    overflow: hidden;*/

    /*background-color: #ddd*/
}

div.timeline-groups-axis {
    border-color: #BEBEBE;
    border-width: 1px;
}
div.timeline-groups-text {
    color: #4D4D4D;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
}

div.timeline-currenttime {
    background-color: #FF7F6E;
    width: 2px;
    z-index: 150;
}

div.timeline-customtime {
    background-color: #6E94FF;
    width: 2px;
    cursor: move;
    z-index: 150;
}

/*div.timeline-navigation {
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: gray;

    border: 1px solid #BEBEBE;
    background-color: #F5F5F5;
    border-radius: 2px;
    -moz-border-radius: 2px;  */
    /* For Firefox 3.6 and older */
/*}

div.timeline-navigation-new, 
div.timeline-navigation-delete,
div.timeline-navigation-zoom-in, 
div.timeline-navigation-zoom-out,
div.timeline-navigation-move-left,
div.timeline-navigation-move-right {
    cursor: pointer;
    padding: 10px 10px;
    float: left;
    text-decoration: none;
    border-color: #BEBEBE; */
    /* border is used for the separator between new and navigation buttons */
/*
    width: 16px;
    height: 16px;
}*/

/*div.timeline-navigation-new {
    background: url('../img/timeline/16/new.png') no-repeat center;
}*/

div.timeline-navigation-delete {
    padding: 0px;
    padding-left: 5px;
    /*background: url('img/16/delete.png') no-repeat center;*/
  display: inline-block;
  margin-top: 2px;
  margin-left: -16px;
  width: 14px;
  height: 14px;
  background-image: url("../img/glyphicons-halflings.png");
  /*background-position: -10px 1px;*/
  background-repeat: no-repeat;
  vertical-align: text-top;
  line-height: 14px;
  *margin-right: .3em;
  background-position: -48px -97px;
  z-index: 10000;
}

div.timeline-navigation-delete:hover {
  cursor: pointer
}

/*div.timeline-navigation-zoom-in {
    background: url('../img/timeline/16/zoomin.png') no-repeat center;
}

div.timeline-navigation-zoom-out {
    background: url('../img/timeline/16/zoomout.png') no-repeat center;
}
*/

div.timeline-navigation-move-left {
    background: url('../img/timeline/16/moveleft.png') no-repeat center;
}

div.timeline-navigation-move-right {
    background: url('../img/timeline/16/moveright.png') no-repeat center;
}















/*.available {
  margin:0;*/
  /* padding: 5px; */
  /*background-color: #4f824f;*/
/*  background-color: #4f824f;
  border-bottom: 10px solid #4f824f;
  text-indent: -9999px;*/
/*
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
*/
/*}*/

/*.availableS {
  margin:0;*/
/*   background-color: #69b369; 
  background-color: #4f824f;
  text-indent: -9999px;
  border-top: 10px solid #e08a0c;
}*/

/*.availableN {
  margin:0;*/
  /* background-color: #3e673e; 
  background-color: #4f824f;
  border-top: 10px solid black;
  text-indent: -9999px;
}

.schipper {
  margin:0;
  /* background-color: #3e673e; */
/*  background-color: #4f824f;
  border-top: 10px solid #e0c100;
  text-indent: -9999px;
}*/

/*.unreachable {
  margin:0;*/
  /* background-color: #3e673e; */
/*  background-color: #65619b;
  border-top: 10px solid #65619b;
  text-indent: -9999px;
}*/

/*.unavailable {
  margin: 0;
  background-color: #a93232;  
  border-top: 10px solid #a93232;
  text-indent: -9999px;
}
*/






div.timeline-event.state-available {
    margin:0;
    background-color: #4f824f;
    text-indent: -9999px;
}

div.timeline-event.state-available-south {
    margin:0;
    background-color: #e08a0c;
    text-indent: -9999px;
}

div.timeline-event.state-available-north {
    margin:0;
    background-color: black;
    text-indent: -9999px;
}

div.timeline-event.state-schipper-service {
    margin:0;
    background-color: #e0c100;
    text-indent: -9999px;
}

div.timeline-event.state-unreached {
    margin:0;
    background-color: #65619b;
    text-indent: -9999px;
}

div.timeline-event.state-unavailable {
    margin:0;
    background-color: #a93232;
    text-indent: -9999px;
}





div.timeline-event div.timeline-event-content span.secret {
  font-size: 1px;
}

















.state-loading-left {
    margin:0;
    background-color: #ddd;
    /*border:1px solid #4f824f;*/
    border-bottom: 10px solid #ddd;
    // text-indent: -9999px;
    text-align: right;
}

.state-loading-right {
    margin:0;
    background-color: #ddd;
    /*border:1px solid #4f824f;*/
    border-bottom: 10px solid #ddd;
    // text-indent: -9999px;
    text-align: left;
}








.group-aggs {
    border: none;
    padding: 0;
    height: 100px;
}











div.timeline-event.agg-less {
    margin:0;
    background-color: #a0a0a0;
    /*border:1px solid #a0a0a0;*/
    /*border-bottom: 10px solid #a0a0a0;*/
    text-indent: -9999px;
}
div.timeline-event.agg-even {
    margin:0;
    background-color: #ba6a24;
    /*border:1px solid #ba6a24;*/
    /*border-bottom: 10px solid #ba6a24;*/
    text-indent: -9999px;
}
div.timeline-event.agg-1 {
    margin:0;
    background-color: #415e6b;
    /*border:1px solid #415e6b;*/
    /*border-bottom: 10px solid #415e6b;*/
    text-indent: -9999px;
}
div.timeline-event.agg-2 {
    margin:0;
    background-color: #3d5865;
    /*border:1px solid #3d5865;*/
    /*border-bottom: 10px solid #3d5865;*/
    text-indent: -9999px;
}
div.timeline-event.agg-3 {
    margin:0;
    background-color: #344c58;
    /*border:1px solid #344c58;*/
    /*border-bottom: 10px solid #344c58;*/
    text-indent: -9999px;
}
div.timeline-event.agg-4 {
    margin:0;
    background-color: #2f4550;
    /*border:1px solid #2f4550;*/
    /*border-bottom: 10px solid #2f4550;*/
    text-indent: -9999px;
}
div.timeline-event.agg-5 {
    margin:0;
    background-color: #2c424c;
    /*border:1px solid #2c424c;*/
    /*border-bottom: 10px solid #2c424c;*/
    text-indent: -9999px;
}
div.timeline-event.agg-6 {
    margin:0;
    background-color: #253943;
    /*border:1px solid #253943;*/
    /*border-bottom: 10px solid #253943;*/
    text-indent: -9999px;
}
div.timeline-event.agg-more {
    margin:0;
    background-color: #486877;
    /*border:1px solid #486877;*/
    /*border-bottom: 10px solid #486877;*/
    text-indent: -9999px;
}















div.timeline-event.wishes-less {
    margin:0;
    background-color: #a0a0a0;
    /*border:1px solid #a0a0a0;*/
    /*border-bottom: 10px solid #a0a0a0;*/
    /*text-indent: -9999px;*/
    text-align: center;
}
div.timeline-event.wishes-even {
    margin:0;
    background-color: #ba6a24;
    /*border:1px solid #ba6a24;*/
    /*border-bottom: 10px solid #ba6a24;*/
    /*text-indent: -9999px;*/
    text-align: center;
}
div.timeline-event.wishes-1 {
    margin:0;
    background-color: #415e6b;
    /*border:1px solid #415e6b;*/
    /*border-bottom: 10px solid #415e6b;*/
    /*text-indent: -9999px;*/
    text-align: center;
}
div.timeline-event.wishes-2 {
    margin:0;
    background-color: #3d5865;
    /*border:1px solid #3d5865;*/
    /*border-bottom: 10px solid #3d5865;*/
    /*text-indent: -9999px;*/
    text-align: center;
}
div.timeline-event.wishes-3 {
    margin:0;
    background-color: #344c58;
    /*border:1px solid #344c58;*/
    /*border-bottom: 10px solid #344c58;*/
    /*text-indent: -9999px;*/
    text-align: center;
}
div.timeline-event.wishes-4 {
    margin:0;
    background-color: #2f4550;
    /*border:1px solid #2f4550;*/
    /*border-bottom: 10px solid #2f4550;*/
    /*text-indent: -9999px;*/
    text-align: center;
}
div.timeline-event.wishes-5 {
    margin:0;
    background-color: #2c424c;
    /*border:1px solid #2c424c;*/
    /*border-bottom: 10px solid #2c424c;*/
    /*text-indent: -9999px;*/
    text-align: center;
}
div.timeline-event.wishes-6 {
    margin:0;
    background-color: #253943;
    /*border:1px solid #253943;*/
    /*border-bottom: 10px solid #253943;*/
    /*text-indent: -9999px;*/
    text-align: center;
}
div.timeline-event.wishes-more {
    margin:0;
    background-color: #486877;
    /*border:1px solid #486877;*/
    /*border-bottom: 10px solid #486877;*/
    /*text-indent: -9999px;*/
    text-align: center;
}












/*
div.bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
}
div.requirement {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid gray;
    background: #e5e5e5;
    opacity: 0.5;
}
*/
    











/*#groupTimeline {
    z-index:10;
}
#memberTimeline {
    z-index: 20;
}
#groupTimelineHolder div.timeline-event {
    border: none;
    border-radius: 0;
    background: none;
}
#groupTimelineHolder div.timeline-event-selected {
    border: none;
    background: none;
}
#groupTimelineHolder div.timeline-event-content {
    margin: 0;
    border:none;
}*/





div.timeline-event-range {
    position: relative;
    overflow: visible;
    width: 100%;
    /*height: 100px;*/
    /*height: auto;*/
    overflow: hidden;
    border: none;
    border-radius: 0;
}
.timeline-frame .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    color: white;
    /* height and color is set for each individual bar */
    text-align: center;
}
.timeline-frame .requirement {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid gray;
    background: #e5e5e5;
    text-align: center;
    opacity: 0.5;
}






























































.daterangepicker.dropdown-menu {
  max-width: none;
  z-index: 99999;
}

.daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar {
  float: left;
  margin: 4px;
}

.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar {
  float: right;
  margin: 4px;
}

.daterangepicker .ranges {
  width: 160px;
  text-align: left;
}

.daterangepicker .ranges .range_inputs>div {
  float: left;
}

.daterangepicker .ranges .range_inputs>div:nth-child(2) {
  padding-left: 11px;
}

.daterangepicker .calendar {
  display: none;
  max-width: 230px;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  white-space: nowrap;
  text-align: center;
}

.daterangepicker .ranges label {
  color: #333;
  font-size: 11px;
  margin-bottom: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #fff;
}

.daterangepicker .ranges input {
  font-size: 11px;
}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.daterangepicker .ranges li {
  font-size: 13px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;

  color: #65619b;

  padding: 3px 12px;
  margin-bottom: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {


  background: #65619b;
  border: 1px solid #65619b;


  color: #fff;
}

.daterangepicker .calendar {
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
  background: #fff;
}

.daterangepicker {
  position: absolute;
  background: #fff;
  top: 100px;
  left: 20px;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.daterangepicker.opensleft:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.opensleft:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker.opensright:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.opensright:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker table {
  width: 100%;
  margin: 0;
}

.daterangepicker td, .daterangepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.daterangepicker td.off {
  color: #999;
}
.daterangepicker td.disabled {
  color: #999;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background: #eee;
}

.daterangepicker td.in-range {

  background: #e8e6f9;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  border-color: #65619b #65619b #7772b5;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  background-color: #7772b5;
  background-image: -ms-linear-gradient(top, #7772b5, #65619b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7772b5), to(#65619b));
  background-image: -webkit-linear-gradient(top, #7772b5, #65619b);
  background-image: -o-linear-gradient(top, #7772b5, #65619b);
  background-image: -moz-linear-gradient(top, #7772b5, #65619b);
  background-image: linear-gradient(top, #7772b5, #65619b);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#6e69a8', 
  endColorstr='#7772b5', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *background-color: #7772b5;

/*  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;


  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);*/

  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.daterangepicker td.week, .daterangepicker th.week {
    font-size: 80%;
    color: #ccc;
}








































































/*
  Datepicker for Bootstrap
  Copyright 2012 Stefan Petre
  Licensed under the Apache License v2.0
  http://www.apache.org/licenses/LICENSE-2.0
*/
.datepicker {
  z-index: 99999;
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
/*.dow { border-top: 1px solid #ddd !important; }*/
}

.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0,0,0,0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}

.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  top: -6px;
  left: 7px;
}

.datepicker > div {
  display: none;
}

.datepicker table {
  width: 100%;
  margin: 0;
}

.datepicker td,.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker td.day:hover {
  background: #eee;
  cursor: pointer;
}

.datepicker td.old,.datepicker td.new {
  color: #999;
}

.datepicker td.active,.datepicker td.active:hover {
  background-color: #006dcc;
  background-image: 0;
  background-image: 0;
  // background-image: 0 to(#0044cc));
  background-image: 0;
  background-image: 0;
  background-image: linear-gradient(top,#0088cc,#0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',endColorstr='#0044cc',
  GradientType=0);
  border-color: #04c #04c #002a80;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.datepicker td.active:hover,.datepicker td.active:hover:hover,.datepicker td.active:active,
.datepicker td.active:hover:active,.datepicker td.active.active,
.datepicker td.active:hover.active,.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  background-color: #04c;
}

.datepicker td.active:active,.datepicker td.active:hover:active,.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #039 \9;
}

.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker td span:hover {
  background: #eee;
}

.datepicker td span.active {
  background-color: #006dcc;
  background-image: 0;
  background-image: 0;
  //background-image: 0 to(#0044cc));
  background-image: 0;
  background-image: 0;
  background-image: linear-gradient(top,#0088cc,#0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',endColorstr='#0044cc',
  GradientType=0);
  border-color: #04c #04c #002a80;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.datepicker td span.active:hover,.datepicker td span.active:active,.datepicker td span.active.active,
.datepicker td span.active.disabled,.datepicker td span.active[disabled] {
  background-color: #04c;
}

.datepicker td span.active:active,.datepicker td span.active.active {
  background-color: #039 \9;
}

.datepicker td span.old {
  color: #999;
}

.datepicker th.switch {
  width: 145px;
}

.datepicker th.next,.datepicker th.prev {
  font-size: 19.5px;
}

.datepicker thead tr:first-child th {
  cursor: pointer;
}

.datepicker thead tr:first-child th:hover {
  background: #eee;
}

.input-append.date .add-on i,.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}








































































.bootstrap-timepicker.dropdown-menu {
    border-radius: 4px 4px 4px 4px;
    display: none;
    left: 0;
    margin-top: 1px;
    padding: 4px;
    top: 0;
    min-width: 10px;
    z-index: 99999;
}
.bootstrap-timepicker.dropdown-menu.open {
    display: inline-block;
}
.bootstrap-timepicker.dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    left: 6px;
    position: absolute;
    top: -7px;
}
.bootstrap-timepicker.dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    left: 7px;
    position: absolute;
    top: -6px;
}
.bootstrap-timepicker.modal {
    margin-left: -100px;
    margin-top: 0;
    top: 30%;
    width: 200px;
}
.bootstrap-timepicker.modal .modal-content {
    padding: 0;
}
.bootstrap-timepicker table {
    margin: 0;
    width: 100%;
}
.bootstrap-timepicker table td {
    height: 30px;
    margin: 0;
    padding: 2px;
    text-align: center;
}
.bootstrap-timepicker table td span {
    width: 100%;
}
.bootstrap-timepicker table td a {
    border: 1px solid transparent;
    display: inline-block;
    margin: 0;
    outline: 0 none;
    padding: 8px 0;
    width: 3em;
}
.bootstrap-timepicker table td a:hover {
    background-color: #EEEEEE;
    border-color: #DDDDDD;
    border-radius: 4px 4px 4px 4px;
}
.bootstrap-timepicker table td a i {
    margin-top: 2px;
}
.bootstrap-timepicker table td input {
    margin: 0;
    text-align: center;
    width: 25px;
}
.bootstrap-timepicker-component .add-on {
    cursor: pointer;
}
.bootstrap-timepicker-component .add-on i {
    display: block;
    height: 16px;
    width: 16px;
}
