/**
BADGESSS
**/
.roundedPicxSmall, .roundedPicSmall{
  .badge {
    margin-top: 23px;
    margin-left: 23px !important;
    padding-top: 0 !important;
    background-color: $brown;
    color: $turq;
    padding: 2px 3px 3px 3px;
    .glyphicon {
      top: 3px;
      left: 1px;
    }
  }
}

.roundedPicSmall {
  .badge {
    margin-top: 32px;
    margin-left: 30px !important;
    background-color: $white;
    .glyphicon {
      left: 2px;
    }
  }
}

.sa-member-icon {
  .badge {
    margin-top: 18px;
  }
}