#chat {
  position: fixed;
  right: 0;
  top: 10%;
  z-index: 1000;
  height: 80%;
  min-height: 300px;
  // position: relative;

  #chat-btn {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: -78px;
    color: $offwhite;
    z-index: 2001;
    display: block;
    width: 106px;
    height: 50px;
    border: 3px solid #833c11;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #1dc8b6;
    border-bottom: 3px solid #1dc8b6;

    &:hover {
      cursor: pointer;
      color: $brown;
    }

    span {
      display: block;
      font-size: 16px;
      font-weight: bold;
      height: 100%;
      width: 100%;
      text-align: center;
      margin-top: 13px;
    }
  }

  #chat-content {
    z-index: 2000;
    width: 400px;
    height: 100%;
    margin-right: -8px; //size of border
    border: 8px solid $turq;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: $chatBg;
    padding-bottom: 70px;
    -moz-box-shadow: 0 0 0 3px $brown;
    -webkit-box-shadow: 0 0 0 3px $brown;
    box-shadow: 0 0 0 3px $brown;

    .chatHeader {
      height: 20px;
      border-top-left-radius: 10px;
      background-color: $offwhite;
      position: absolute;
      width: 100%;
      z-index: 21;
      h4 {
        font-size: 12px;
        line-height: 12px;
        margin-top: 4px;
        margin-left: 4px;
      }
    }
    .mainContent {
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
      margin-top: 20px;
    }
    .noMessages {
      padding: 0 10px;
    }

    .chat-separator {
      width: 100%;
      display: inline-block;
      text-align: center;
      span {
        background-color: $chatBg;
        padding: 0 5px;
        margin: 0 auto;
        z-index: 10;
        font-weight: bold;
        display: inline-block;
        overflow: hidden;
      }
      hr {
        margin: -15px 15px 18px 15px;
        padding: 0 40px;
        border: none;
        border-bottom: 1px solid #833c11;
        text-align: center;
      }
    }

    .chat-separator.reportLink {
      a {
        color: $orange;
      }
      a:hover {
        color: darken($orange, 10%);
      }

      hr {
        border-color: $orange;
      }
    }

    .message {
      padding: 0 15px;
      clear: both;
      position: relative;

      .chatCloud {
        background-color: $white;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        padding: 4px 12px;
        margin-bottom: 20px;
        min-width: 100px;
        max-width: 270px;
        min-height: 44px;
        -moz-box-shadow: 2px 2px 2px $brown;
        -webkit-box-shadow: 2px 2px 2px $brown;
        box-shadow: 2px 2px 2px $brown;

        h5 {
          line-height: 10px;
          font-weight: bold;
        }

        .name {
          float: left;
          color: $turq;
        }

        .time {
          float: right;
          color: $orange;
          margin-left: 10px;
        }

        p {
          clear: both;
          word-break: break-all;
        }
      }
    }

    .messageOther {
      .chatAvatar {
        margin-right: 14px;
        float: left;
      }

      .arrow {
        border-right: 8px solid $white;
        border-bottom: 8px solid transparent;
        border-top: 8px solid transparent;
        position: absolute;
        margin: 20px 0 0 56px;
      }

      .chatCloud {
        float: left;
      }
    }

    .messageOwn {
      .chatAvatar {
        margin-left: 14px;
        float: right;
      }

      .arrow {
        /* border-left: 8px solid $white;
        border-bottom: 8px solid transparent;
        border-top: 8px solid transparent;*/
        position: absolute;
        margin: 20px 0 0 272px;
        -moz-box-shadow: 2px 2px 1px -1px $brown;
        -webkit-box-shadow: 2px 2px 1px -1px $brown;
        box-shadow: 2px 2px 1px -1px $brown;
        height: 10px;
        width: 10px;
        background-color: $white;
        transform: matrix(1, -1, 1, 1, -7, 0);
        -ms-transform: matrix(1, -1, 1, 1, -7, 0); /* IE 9 */
        -webkit-transform: matrix(1, -1, 1, 1, -7, 0); /* Safari and Chrome */
      }

      .chatCloud {
        float: right;
      }
    }
  }
  .input-area {
    position: absolute;
    left: 8px;
    width: 100%;
    padding-top: 10px;
    background-color: $offwhite;
    //border: 1px solid $offwhite;
    border-bottom-left-radius: 10px;
    z-index: 20;

    #messageField {
      margin-left: 10px;
      float: left;
      width: 260px;
    }

    button {
      margin: 0 0 0 10px;
    }
  }

  #pusher {
    height: 140px;
    display: block;
    width: 100%;
  }
}