@font-face {
  font-family: "EntypoRegular";
  src: url("../fonts/entypo.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EntypoRegular";
  src: url("../fonts/entypo.woff") format("woff"),
       url("../fonts/entypo.ttf") format("truetype"),
       url("../fonts/entypo.svg#EntypoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

span.entypo {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-family: "EntypoRegular";
}

span.entypo-h1 {
  font-size: 38px;
  background-color: #433c2d;
  color: #f5f4ee;
  vertical-align: baseline;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  border-radius: 5px;
  padding: 0 8px;
  margin-right: 5px;
}