
.frame-container iframe, .video-content-wrap iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.frame-container {
  overflow: hidden;
  position: relative;
  margin: 0 3px;
  border: 4px solid $brown;
  border-radius: 3px;
  padding-bottom: 65%;
  height: 0;
}

.embed-responsive {
  position: relative;
  display: block;
  height: calc(100vh - 370px);
  padding: 0;
  overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 0;
}

#video-content {
  iframe {
    position: inherit;
    height: 100%;
    z-index: 3;
  }
}