.frame-container {
  position: relative;
  margin: 0 3px;
  border: 4px solid $brown;
  border-radius: 3px;
  padding-bottom: 65%;
  height: 0;
}

iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: padding 2.4s linear;
}

#video-content {
  iframe {
    top: -50px;
    height: calc(100% + 51px);
  }
}