
iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.frame-container {
  overflow: hidden;
  position: relative;
  margin: 0 3px;
  border: 4px solid $brown;
  border-radius: 3px;
  padding-bottom: 65%;
  height: 0;
  iframe {
    top: -60px;
  }
}

.embed-responsive {
  iframe {
    top: -60px;
  }
}

#video-content {
  iframe {
    position: inherit;
    top: -50px;
    height: calc(100% + 51px);
    z-index: 3;
  }
}