.label-inverse, .badge-inverse {
  background-color: #333333;
}

.log-RECEIEVED {
  background-color: #6cad6c;
}

.log-RECEIVED {
  background-color: #6cad6c;
}

.log-MISSED {
  background-color: #d34545;
}

.log-SENT {
  background-color: #e09131;
}

#logs .headerTop{
  margin-left: 10px;
  margin-top: 25px;
}
