.label-inverse, .badge-inverse {
  background-color: $brown;
}

.log-RECEIEVED {
  background-color: $turq;
}

.log-RECEIVED {
  background-color: $turq;
}

.log-MISSED {
  background-color: $red;
}

.log-SENT {
  background-color: $orange;
}

#logs .headerTop{
  margin-left: 10px;
  margin-top: 25px;
}
