/**
 * Welcoming page styles
 */
#welcomeLogo {
  background-image: url("../images/logo.png");
  margin: 0 auto 40px;
  height: 82px;
  width: 160px;
}

#welcomeArrow {
  width: 0;
  height: 0;
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
  border-bottom: 15px solid $offwhite;
  position: absolute;
  left: 50%;
  margin: -15px 0 0 -80px;
}

#welcome {
  margin: 0 auto 20px auto;
  padding: 35px 29px 19px 29px;
  max-width: 300px;
  border-radius: 20px;
  background-color: $offwhite;
  text-align: center;

  h2 {
    color: #333;
    text-align: center;
  }

  h4 {
    color: #bbb;
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    padding-bottom: 15px;
  }
}

/**
 * Box style
 */
.boxed {
  margin: 0;

  label {
    font-weight: normal;
  }

  p {
    margin-top: 16px;
  }

  form {
    input[type=text], input[type=password] {
      margin-bottom: 2px;
      padding: 7px 9px;
      width: 93%;
      height: auto;
      background-color: #E3DDD7;
      color: $brown;
    }

    button {
      display: block;
      margin: 0 auto;
      margin-top: 15px;
    }

    .checkbox {
      margin: 6px 0 9px;
      padding-left: 20px;
      width: 90%;
      text-align: left;
      color: $brown;
    }

    span.version {
      display: block;
      margin-top: 17px;
      margin-bottom: -12px;
      text-align: right;
      font-size: 11px;

      a {
        color: #aaa;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .alert {
      margin-left: 5px;
      width: 240px;
      text-align: left;

      button {
        margin-top: 0;
      }

      button[type=submit] {
        display: inline;
        margin: 0 auto;
      }
    }
  }
}

#separator {
  margin-right: 8px;
  margin-left: 3px;
  color: $brown;
}

p.loginp {
  float: left;

  a {
    color: $turq;
    margin-right: 5px;
  }
}

#demo_users {
  position: absolute;
  right: 20px;
  bottom: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
  }
}
