//
// Modals
// --------------------------------------------------

.modal {
  top: 0px;
  padding-top: 35px;
}

body.modal-open {
  overflow-y: visible!important;
}

.modal-open.modal-with-am-fade-and-slide-top {
  .am-fade {
    opacity: 0.5;
  }
}