#alertDiv {
  display: none;
}

#preloader {
  display: none;
}

#loading {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;

  p {
    padding-top: 65px;
    text-align: center;
    color: $brown;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    font-size: 18px;
  }

  span.entypo {
    display: block;
    /*height: 160px;*/
    color: $brown;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    font-size: 20em;
  }
}

#notification {
  position: fixed;
  top: 110px;
  left: 50%;
  margin-left: -175px;
  width: 300px;
  z-index: 200;
  display: none;
}

.modal {
  top: 80px;
}

// Background
.modal-backdrop {
  //  position: fixed;
  //  top: 0;
  //  right: 0;
  //  bottom: 0;
  //  left: 0;
  //  z-index: $zindexModalBackdrop;
  //  background-color: $black;
  //  // Fade for backdrop
  //  &.fade { opacity: 0; }

  display: none;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  //@include opacity(1);

  display: none;
}