#alertDiv {
  display: none;
}

#preloader {
  display: none;
}

#loading {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;

  p {
    padding-top: 65px;
    text-align: center;
    color: $brown;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    font-size: 18px;
  }

  span.entypo {
    display: block;
    /*height: 160px;*/
    color: $brown;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    font-size: 20em;
  }
}

#notification {
  position: fixed;
  top: 110px;
  left: 50%;
  margin-left: -175px;
  width: 300px;
  z-index: 200;
  display: none;
}