/* Lastly, apply responsive CSS fixes as necessary */

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: $brown;
  span {
    background-color: $orange;
    color: $orange;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar-inverse .nav > li {
    margin-left: 0;
  }

  .navbar .nav .dropdown-toggle {
    color: $brown;
    .caret {
      margin-top: 1px;
      margin-left: 6px;
      border-top-color: $orange;
      border-bottom-color: $orange;
    }
  }

  .navbar-inverse .dropdown-menu > li a {
    color: $brown;
    text-shadow: none;
    font-weight: bold;
  }

  .navbar-inverse .dropdown-menu {
      .active > a {
        color: $orange;
        background-color: #fff !important;
      }
      li {
      a.active, a:hover, a:focus {
        color: $orange;
        background-color: #fff !important;
      }
  }
  }

  .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {

  }

}

@media (max-width: 767px) {
}

@media (max-width: 1200px) {
  #show-name {
    display: none;
  }

  #viewTeamsTab .tab-header {
    height: 100px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #viewTeamsTab .tab-header {
    height: 130px;
  }

  #reportsTab, #newMemberTab {
    .tab-header {
      overflow: inherit;
      min-height: 40px;
    }
  }
}

@media (max-width: 768px) {
  .profile-nav {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .navbar-fixed-top {
    position: absolute;
    margin-bottom: 0;
  }

  .tab-header {
    overflow: inherit;
  }

  #reportsTab, #newMemberTab
  {
    .tab-header {
      min-height: 40px;
    }
  }

  #viewTeamsTab .tab-header {
    height: 160px;
  }

  .navbar, .navbar-nav {
    width: 100%;
  }

  .navbar .navbar-inner {
    //margin-right: -20px;
    //padding-right: 15px;
    //padding-left: 25px;
  }

  .navbar-inverse .nav > li {
    margin-left: 0;
    width: 100%;
    //height: 45px !important;
  }

  #main-navbar {
    margin-bottom: 15px;
  }

  .profile-nav {
    padding-left: 15px;
    .navbar-btn {
      padding-left: 0px;
      margin-left: 5px !important;
      margin-top: 3px !important;
    }
  }

  nav.navbar-nav.pull-right {
    li {
      margin-left: 10px;
    }
  }

  #footer {
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
  }

  .brand {
    margin-top: 20px;
    background-position: 0 8px;
  }

  .nav-collapse.collapse ul {
    margin-top: 10px;
  }
}

@media (max-width: 979px) {

  .navbar-fixed-top {
    position: absolute;
    margin-bottom: 0;
  }

  .brand {
    background-position: 0 8px;
  }

  .nav-collapse.collapse ul {
    margin-top: 10px;
  }
}

@media (min-width: 980px) {
}

@media (max-width: 480px) {

  .navbar-fixed-top {
    position: absolute;
    margin-bottom: 0;
  }

  .navbar {
    width: 100%;
  }

  .navbar .navbar-inner {
    //margin-right: -20px;
    //padding-right: 15px;
    //padding-left: 25px;
  }

  #footer {
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
  }

  .brand {
    margin-top: 30px;
    background-position: 0 8px;
  }

  .nav-collapse.collapse ul {
    margin-top: 10px;
  }

  .header form {
    display: block;
    clear: right;
    margin: 0 auto;
  }
}




