#timeline {
}

/**
Timeline agenda
**/

.agenda-timeline.page-header{
  min-height: 75px;
  border-bottom: 1px solid #c6c3b6;
  overflow: visible;
  position: relative;
  z-index: 2;
  .btn-group {
    position: absolute;
    top: 25px;
    right: 15px;
  }
}

//div.timeline-groups-text {
//  color: $brown;
//  padding-left: 10px;
//  padding-right: 10px;
//  font-size: 11px;
//}

.legends-agenda{
  background: #fff;
}

.timeline-toolbar, #planboard {
  select {
    color: #833c11 !important;
  }
}
.agenda-timeline-tabs {
  margin-top: 0;
  z-index: 1;
}

#planboard .has-feedback .form-control {
  padding-right: 37.5px;
}

.btn-success.active, .open > .btn-success.dropdown-toggle {
  color: #833c11;
  background-color: $turq;
  border-color: #398439;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
  background-color: $turq;
  color: #833c11;
}

.form-control:focus {
  border-color: rgba(103, 97, 83, 0.6);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(103, 97, 83, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(103, 97, 83, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(103, 97, 83, 0.6);
}

.btn-success {
  color: #fff;
}

#timeline-controls {
  overflow: hidden;
  padding-bottom: 9px;
}

#timeline-toolbar {
  overflow: hidden;
  padding: 0 0 0 0;

  select {
    margin-bottom: 10px;
    padding: 0;
    width: 220px;
    color: $brown;

    &:last-child {
      margin-left: 10px;
    }
  }

  .btn-group {
    margin: 3px 0 0 10px;
  }
}

/*legenda*/
.legenda {
  background-color: $white;//#f5f4ee;
  padding-top: 10px;
  margin: 0 auto 25px;
  margin-top: -10px;
  max-width: 605px;
}

.legenda-row {
  overflow: hidden;
  display: block;
  margin: 10px 20px;

  strong {
    width: 90px;
    display: inline;
    float: left;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
    line-height: 16px;
  }

  /**
  Wish
  **/
  .popover {
    max-width: 300px !important;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      //border-right: 1px solid #ddd;
      padding-right: 15px;
      min-width: 150px;
      font-size: 11px;

      &:last-child {
        margin-right: 0;
        border-right: none;
        padding-right: 0;
      }

      label {
        font-size: 11px;

        //&:hover {
        //  cursor: pointer;
        //  color: #65619b;
        //}
      }

      input {
        margin: -2px 4px 0 0;
        vertical-align: middle;
      }
    }
  }

  .square {
    display: block;
    height: 12px;
    width: 12px;
    // margin-top: 4px;
  }
}

div.bar span {
  font-size: 9px;
}

.fast-availability .square {
  margin-top: 4px;
  width: 10px;
  height: 10px;
}
.fast-availability .available {
  background-color: $turq;//#406940;
}
.fast-availability .unavailable {
  background-color: $red;//#8f2b2b;
}

.last-legenda-row {
  margin-bottom: -5px;
}

.legenda-row .legenda-no-state .square {
  background-color: $turq; //#6cad6c;
}

.legenda-row .legenda-state-available .square {
  background-color: $turq;//#6cad6c;
}

.legenda-row .legenda-state-available-north .square {
  background-color: #242424;
}

.legenda-row .legenda-state-available-south .square {
  // background-color: #8a85c7;
  background-color: #8a85c7;
}

.legenda-row .legenda-state-unavailable .square {
  background-color: $red;//#d34545;
}

.legenda-row .legenda-state-schipper-service .square {
  background-color: #f6e500;
}

//.legenda-row .legenda-state-unreached .square {
//  background-color: #65619b;
//}

.legenda-row .legenda-more .square {
  // background-color: #415e6b;
  background-color: $turq;//#6cad6c;
}

.legenda-row .legenda-even .square {
  background-color: #e09131;
}

.legenda-row .legenda-less .square {
  // background-color: #a0a0a0;
  background-color: $red;//#d34545;
}

#legends {
  display: block;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;

  ul {
    margin-left: 1px;
    list-style: none;

    li {
      display: inline;
      float: left;
      margin-right: 25px;
      list-style-image: none;
    }
  }
}



.square {
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  width: 14px;
  height: 14px;
}

div.bar span {
  font-size: 9px;
}


div.timeline-frame {
  border: 1px solid #ddd;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 30px;
}

div.timeline-axis {
  background-color: $brown;
  color: #fff;
  border: 1px #ddd;
  border-top-style: solid;
}

div.timeline-axis-grid {
  border-left-style: solid;
  border-width: 1px;
}

div.timeline-axis-grid-minor {
  border-color: #e5e5e5;
  background-color: #e5e5e5;
}

/*striped background*/
//div.timeline-frame div:nth-child(1) {
//  div.timeline-axis-grid-minor:nth-child(2n) {
//    border-bottom: 70px solid $offwhite;
//  }
//}
//
//div.timeline-groups-axis {
//  div.timeline-axis-grid-minor:nth-child(4n) {
//    border-bottom: 70px solid $offwhite;
//  }
//}
/*end striped background*/

div.timeline-axis-grid-major {
  border-color: #bfbfbf;
}

div.timeline-axis-text {
  color: #f5f4ee;
  padding: 3px;
  white-space: nowrap;
  font-size: 11px;
}

div.timeline-axis-text-minor {
}

div.timeline-axis-text-major {
}

div.timeline-event {
  display: inline-block;
  //background-color: #ddd;
  background-color: #f5a962;
  //  padding: 10px 0;
  //  height: 20px;
  //background-color: $orange;
  //  margin-top: 3px !important;
}

div.timeline-event-selected {
  border-color: #FFC200;
  opacity: .7;
  z-index: 999;
  height: 30px;
}

div.timeline-event-cluster {
  /* TODO: use another color or pattern? */
  background: #97B0F8 url('../../images/timeline/cluster_bg.png');
  color: white;
}

div.timeline-event-cluster div.timeline-event-dot {
  border-color: #D5DDF6;
}

div.timeline-event-box {
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px; /* For Firefox 3.6 and older */
}

div.timeline-event-dot {
  border: 5px solid;
  border-radius: 5px;
  -moz-border-radius: 5px; /* For Firefox 3.6 and older */
}

div.timeline-event-range {
  //height: 22px;
}

div.timeline-event-range-drag-left {
  cursor: w-resize;
  z-index: 1000;
}

div.timeline-event-range-drag-right {
  cursor: e-resize;
  z-index: 1000;
}

div.timeline-event-line {
  border-left: 1px solid;
}

div.timeline-event-content {
  //  margin-left: 10px;
  //  white-space: nowrap;
  //  overflow: hidden;
  //  color: $white;
  //  font-weight: 800;
  text-align: center;
}

div.timeline-groups-axis {
  border: 1px #BEBEBE;
}

div.timeline-groups-text {
  color: $brown;
  padding-left: 10px;
  padding-right: 10px;
  div {
    font-size: 12px !important;
    margin: 6px 0 !important;
  }
  div:nth-child(2) {
    margin: 22px 0 0 10px !important;
  }
}

div.timeline-currenttime {
  background-color: $red;////#FF7F6E;
  width: 2px;
  z-index: 150;
}

div.timeline-customtime {
  background-color: #6E94FF;
  width: 2px;
  cursor: move;
  z-index: 150;
}

div.timeline-navigation-delete {
  padding: 0 0 0 5px;
  /*background: url('images/img/16/delete.png') no-repeat center;*/
  display: inline-block;
  margin-top: -2px;
  margin-left: -7px;
  width: 14px;
  height: 14px;
  /*background-position: -10px 1px;*/
  vertical-align: text-top;
  line-height: 14px;
  *margin-right: .3em;
  background: url("../images/glyphicons-halflings.png") no-repeat -48px -97px;
  z-index: 10000;
}

div.timeline-navigation-delete:hover {
  cursor: pointer
}

div.timeline-navigation-move-left {
  background: url('../images/timeline/16/moveleft.png') no-repeat center;
}

div.timeline-navigation-move-right {
  background: url('../images/timeline/16/moveright.png') no-repeat center;
}

div.timeline-event.state-available {
  margin: 0;
  background-color: #f5a962;
  text-align: center;
  color: $white;
}

.agenda-timeline-tabs {
  div.timeline-event.state-available {
    background-color: $turq;//$green;
  }
}

div.timeline-event.state-unavailable {
  margin: 0;
  background-color: #65619b;
}

div.timeline-event.state-unavailable {
  margin: 0;
  background-color: $red;//#a93232;
}

div.timeline-event div.timeline-event-content {
  //  font-size: 12px;
  //  top: 0;
  //  left: 0;
}

div.timeline-event div.timeline-event-content span.secret {
  font-size: 0px !important;
  text-indent: -9999px !important;
}

.state-loading-left {
  margin: 0;
  background-color: #ddd;
  border-bottom: 10px solid #ddd;
  text-align: right;
}

.state-loading-right {
  margin: 0;
  background-color: #ddd;
  border-bottom: 10px solid #ddd;
  text-align: left;
}

div.timeline-event-range {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: none;
  border-radius: 0;
}

/* Wish */
.group-aggs {
  border: none;
  padding: 0;
  height: 100px;
}

div.timeline-event.agg-less {
  margin: 0;
  //    background-color: #a0a0a0;
  background-color: $red;//#d34545;
  /*border:1px solid #a0a0a0;*/
  /*border-bottom: 10px solid #a0a0a0;*/
  // text-indent: -9999px;

  &:hover {
    background-color: lighten($red, 10%);
  }
}

div.timeline-event.agg-even {
  margin: 0;
  background-color: #e09131;
  /*border:1px solid #ba6a24;*/
  /*border-bottom: 10px solid #ba6a24;*/
  // text-indent: -9999px;

  &:hover {
    background-color: lighten(#e09131, 10%);
  }
}

div.timeline-event.agg-1 {
  margin: 0;
  // background-color: #415e6b;
  background-color: $turq;//#6cad6c;
  /*border:1px solid #415e6b;*/
  /*border-bottom: 10px solid #415e6b;*/
  // text-indent: -9999px;

  &:hover {
    background-color: lighten($turq, 10%);
  }
}

div.timeline-event.agg-2 {
  margin: 0;
  // background-color: #3d5865;
  background-color: $turq;//#6cad6c;
  //  background-color: #477547;
  /*border:1px solid #3d5865;*/
  /*border-bottom: 10px solid #3d5865;*/
  // text-indent: -9999px;

  &:hover {
    background-color: lighten($turq, 10%);
  }
}

div.timeline-event.agg-3 {
  margin: 0;
  // background-color: #344c58;
  background-color: $turq;//#6cad6c;
  // background-color: #436f43;
  /*border:1px solid #344c58;*/
  /*border-bottom: 10px solid #344c58;*/
  // text-indent: -9999px;

  &:hover {
    background-color: lighten($turq, 10%);
  }
}

div.timeline-event.agg-4 {
  margin: 0;
  // background-color: #2f4550;
  background-color: $turq;//#6cad6c;
  // background-color: #3d673d;
  /*border:1px solid #2f4550;*/
  /*border-bottom: 10px solid #2f4550;*/

  // text-indent: -9999px;

  &:hover {
    background-color: lighten($turq, 10%);
  }
}

div.timeline-event.agg-5 {
  margin: 0;
  // background-color: #2c424c;
  background-color: $turq;//#6cad6c;
  // background-color: #396039;
  /*border:1px solid #2c424c;*/
  /*border-bottom: 10px solid #2c424c;*/
  // text-indent: -9999px;

  &:hover {
    background-color: lighten($turq, 10%);
  }
}

div.timeline-event.agg-6 {
  margin: 0;
  // background-color: #253943;
  background-color: $turq;//#6cad6c;
  // background-color: #335833;
  /*border:1px solid #253943;*/
  /*border-bottom: 10px solid #253943;*/
  // text-indent: -9999px;

  &:hover {
    background-color: lighten($turq, 10%);
  }
}

div.timeline-event.agg-more {
  margin: 0;
  background-color: $turq;//#6cad6c;
  // background-color: #305330;
  /*border:1px solid #486877;*/
  /*border-bottom: 10px solid #486877;*/
  // text-indent: -9999px;

  &:hover {
    background-color: lighten($turq, 10%);
  }
}

div.timeline-event.wishes-less {
  margin: 0;
  // background-color: #a0a0a0;
  background-color: $red;//#d34545;
  /*border:1px solid #a0a0a0;*/
  /*border-bottom: 10px solid #a0a0a0;*/
  /*text-indent: -9999px;*/
  text-align: center;

  &:hover {
    background-color: lighten($red, 10%);
  }
}

div.timeline-event.wishes-even {
  margin: 0;
  // background-color: #ba6a24;
  background-color: #ececec;
  /*border:1px solid #ba6a24;*/
  /*border-bottom: 10px solid #ba6a24;*/
  /*text-indent: -9999px;*/
  text-align: center;

  &:hover {
    background-color: lighten(#ececec, 10%);
  }
}

//div.timeline-event.wishes-1 {
//  margin: 0;
//  background-color: #648ea0;
//  // background-color: #415e6b;
//  /*border:1px solid #415e6b;*/
//  /*border-bottom: 10px solid #415e6b;*/
//  /*text-indent: -9999px;*/
//  text-align: center;
//
//  &:hover {
//    background-color: lighten(#648ea0, 10%);
//  }
//}
//
//div.timeline-event.wishes-2 {
//  margin: 0;
//  background-color: #648ea0;
//  // background-color: #3d5865;
//  /*border:1px solid #3d5865;*/
//  /*border-bottom: 10px solid #3d5865;*/
//  /*text-indent: -9999px;*/
//  text-align: center;
//
//  &:hover {
//    background-color: lighten(#648ea0, 10%);
//  }
//}
//
//div.timeline-event.wishes-3 {
//  margin: 0;
//  background-color: #648ea0;
//  // background-color: #344c58;
//  /*border:1px solid #344c58;*/
//  /*border-bottom: 10px solid #344c58;*/
//  /*text-indent: -9999px;*/
//  text-align: center;
//
//  &:hover {
//    background-color: lighten(#648ea0, 10%);
//  }
//}
//
//div.timeline-event.wishes-4 {
//  margin: 0;
//  background-color: #648ea0;
//  // background-color: #2f4550;
//  /*border:1px solid #2f4550;*/
//  /*border-bottom: 10px solid #2f4550;*/
//  /*text-indent: -9999px;*/
//  text-align: center;
//
//  &:hover {
//    background-color: lighten(#648ea0, 10%);
//  }
//}
//
//div.timeline-event.wishes-5 {
//  margin: 0;
//  background-color: #648ea0;
//  // background-color: #2c424c;
//  /*border:1px solid #2c424c;*/
//  /*border-bottom: 10px solid #2c424c;*/
//  /*text-indent: -9999px;*/
//  text-align: center;
//
//  &:hover {
//    background-color: lighten(#648ea0, 10%);
//  }
//}
//
//div.timeline-event.wishes-6 {
//  margin: 0;
//  background-color: #648ea0;
//  // background-color: #253943;
//  /*border:1px solid #253943;*/
//  /*border-bottom: 10px solid #253943;*/
//  /*text-indent: -9999px;*/
//  text-align: center;
//
//  &:hover {
//    background-color: lighten(#648ea0, 10%);
//  }
//}
//

//$wishMax: 15;
//$step: 3;

.wish-amount {
  margin-left: 25px;
}
/* End Wish */

.timeline-frame .bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  color: white;
  /* height and color is set for each individual bar */
  text-align: center;
}

.timeline-frame .requirement {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid gray;
  background: #e5e5e5;
  text-align: center;
  opacity: 0.5;
}

//#planboard {
//  #confirmTaskModal {
//    z-index: 10000;
//  }
//}

.timeline-footer-text {
  font-style: italic;
}



/*!
 * Stylesheet for the Date Range Picker, for use with Bootstrap 3.x
 *
 * Copyright 2013 Dan Grossman ( http://www.dangrossman.info )
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Built for http://www.improvely.com
 */
.daterangepicker.dropdown-menu {
  max-width: none;
  z-index: 3000;
}

.daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar {
  float: left;
  margin: 4px;
}

.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar {
  float: right;
  margin: 4px;
}

.daterangepicker.single .ranges, .daterangepicker.single .calendar {
  float: none;
}

.daterangepicker .ranges {
  width: 185px;
  text-align: left;
}

.daterangepicker .ranges .range_inputs>div {
  float: left;
}

.daterangepicker .ranges .range_inputs>div:nth-child(2) {
  padding-left: 11px;
}

.daterangepicker .calendar {
  display: none;
  max-width: 270px;
}

.daterangepicker.show-calendar .calendar {
  display: block;
}

.daterangepicker .calendar.single .calendar-date {
  border: none;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  white-space: nowrap;
  text-align: center;
  min-width: 32px;
}

.daterangepicker .daterangepicker_start_input label,
.daterangepicker .daterangepicker_end_input label {
  color: #333;
  display: block;
  font-size: 11px;
  font-weight: normal;
  height: 20px;
  line-height: 20px;
  margin-bottom: 2px;
  text-shadow: #fff 1px 1px 0px;
  text-transform: uppercase;
  width: 74px;
}

.daterangepicker .ranges input {
  font-size: 11px;
}

.daterangepicker .ranges .input-mini {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  display: block;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin: 0 0 10px 0;
  padding: 0 6px;
  width: 74px;
}

.daterangepicker .ranges ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.daterangepicker .ranges li {
  font-size: 13px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: $brown;
  padding: 3px 12px;
  margin-bottom: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  background: $textColor;
  border: 1px solid $textColor;
  color: #f5a962;
}

.daterangepicker .calendar-date {
  border: 1px solid #ddd;
  padding: 4px;
  border-radius: 4px;
  background: #fff;
}

.daterangepicker .calendar-time {
  text-align: center;
  margin: 8px auto 0 auto;
  line-height: 30px;
}

.daterangepicker {
  position: absolute;
  background: #fff;
  top: 100px;
  left: 20px;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.daterangepicker.opensleft:before {
  position: absolute;
  top: -7px;
  right: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.opensleft:after {
  position: absolute;
  top: -6px;
  right: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker.opensright:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.daterangepicker.opensright:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}

.daterangepicker table {
  width: 100%;
  margin: 0;
}

.daterangepicker td, .daterangepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.daterangepicker td.off {
  color: #999;
}

.daterangepicker td.disabled {
  color: #999;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background: #eee;
}

.daterangepicker td.in-range {
  background: lighten($turq, 10%);
  color: $white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  &:hover {
    color: $brown;
  }
}

.daterangepicker td.start-date {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.daterangepicker td.end-date {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: $linkColor;
  border-color: $linkColorHover;
  color: #fff;
}

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.ampmselect {
  width: 50px;
  margin-bottom: 0;
}

.daterangepicker_start_input {
  float: left;
}

.daterangepicker_end_input {
  float: left;
  padding-left: 11px
}

.daterangepicker th.month {
  width: auto;
}

// https://github.com/mgcrea/bootstrap-additions
// Using for angular-strap

/* Agenda date range picker*/
#planboard .dateranger {
  margin-right: 10px;
  input[type=text] {
    width: 215px;
  }
}

//#viewTeamsTab .dateranger{
//  margin: 6px 0 0 10px;
//}

#viewTeamsTab {
  .popover {
    width: 360px;
  }
  .dater .icon-calendar, .dater .icon-time {
    position: relative;
    margin: 2px 6px 0 -21px;
  }
}

#timeline-toolbar .popover {
  max-width: 300px !important;
}

//.task-agenda .tab-header {
//  height: 45px;
//}

/*
* Datepicker element
*/
.datepicker.dropdown-menu {
  width: 250px;
  height: 250px;
  button {
    outline: none;
    border: 0px;
  }
  thead {
    th {
      :hover {
        background-color: #fff;
      }
    }
    button {
      color: $brown;
      :hover {
        background-color: #fff;
        .btn-primary {
          color: #fff;
        }
      }
    }
  }
  tbody {
    height: 180px;
    button {
      padding: 6px;
      margin: 0;
      font-weight: 100;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    .btn-info {
      background-color: $beige !important;
      &:disabled {
        opacity: 1.0;
        color: $grayLighter !important;
      }
    }
    .btn-default {
      color: $brown !important;
      .text-muted {
        color: $gray !important;
      }
    }
    .btn-default:disabled {
      color: $gray !important;
    }
    .text-muted {
      color: $brown !important;
    }
    .btn-primary {
      background-color: $brown !important;
      color: $white !important;
      .text-muted {
        color: $white !important;
      }
    }
    .start-date {
      background-color: orange;
    }
    .end-date {
      background-color: orange;
    }
  }
  tbody button {
    padding: 6px;
  }
  &.datepicker-mode-1, &.datepicker-mode-2 {
    tbody button {
      height: 65px;
    }
  }
}

//.modal.center .modal-dialog {
//  position: fixed;
//  top: 40%;
//  left: 50%;
//  min-width: 320px;
//  max-width: 630px;
//  width: 50%;
//  -webkit-transform: translateX(-50%) translateY(-50%);
//  transform: translateX(-50%) translateY(-50%);
//}

/*
sortable
*/
.unsortable {
  background-color: #EEE !important;
  -moz-opacity: 0.60;
  -khtml-opacity: 0.60;
  opacity: 0.60;
  cursor: not-allowed !important;
}

.duration {
  //  position: absolute;
  //  top: -1px;
  //  left: 25%;
}

/*
 * Popovers corner placement
 *
 * Inherit exotic positionning from basic ones & fix arrow placement
 */
.popover.top-left {
  margin-top: -10px;
}
.popover.top-left .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
  left: 10%;
}
.popover.top-left .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.top-right {
  margin-top: -10px;
}
.popover.top-right .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
  left: 90%;
}
.popover.top-right .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.bottom-left {
  margin-top: 10px;
}
.popover.bottom-left .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
  left: 10%;
}
.popover.bottom-left .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.popover.bottom-right {
  margin-top: 10px;
}
.popover.bottom-right .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
  left: 90%;
}
.popover.bottom-right .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
/*
 * Timepicker element
 */
.timepicker.dropdown-menu {
  padding: 0 4px;
  button {
    color: $brown;
    outline: none;
    border: 0px;
  }
  thead, tfoot {
    background-color: #fff;
    button {
      background-color: #fff;
    }
  }
  tbody {
    button {
      padding: 6px;
      margin: 0;
      font-weight: 100;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }
}

.bars-more {
  background-color: $turq;

  &:hover {
    background-color: lighten($turq, 10%);
  }
}

.bars-less {
  background-color: $red;

  &:hover {
    background-color: lighten($red, 10%);
  }
}

.bars-even {
  background-color: $orange;

  &:hover {
    background-color: lighten($orange, 10%);
  }
}

.time-slot-form {
  //  padding-right: 30px;
  //  padding-top: 10px;
  width: 100%;
  min-height: 180px;
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  form {
    //    border: 1px solid $graytu;
    background-color: $white;
    margin-bottom: 0;
    height: 100%;
  }
}

//.timepicker.dropdown-menu {
//  padding: 0 4px;
//}
//.timepicker.dropdown-menu button {
//  outline: none;
//  border: 0px;
//}
//.timepicker.dropdown-menu tbody button {
//  padding: 6px;
//}

/*Wish*/
.btn-primary .badge {
  color: $brown;
}

.timeline-event-content .badge-inverse {
  background-color: $brown !important;
}

.badge-slot {
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  margin: auto;
  width: 30px;
}

#groups-wish {
  .btn-default {
    color: $brown !important;
  }
}

/*
Order
*/
#order p {
  margin-top: 15px;
}

.ui-tooltip, .arrow-tooltip:after {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.ui-tooltip {
  //  position: absolute;
  //  padding: 10px 20px;
  //  color: white;
  //  border-radius: 20px;
  //  font: bold 14px "Helvetica Neue", Sans-Serif;
  //  text-transform: uppercase;
  //  box-shadow: 0 0 7px black;
  //  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  padding: 15px;
}
.arrow-tooltip {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow-tooltip.top {
  top: -16px;
  bottom: auto;
}
.arrow-tooltip.left {
  left: 20%;
}
.arrow-tooltip:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.arrow-tooltip.top:after {
  bottom: -20px;
  top: auto;

}

//.time-tip {
//  //z-index: 9999;
//  background-color: transparent;
//  display: inline-block;
//  padding: 4px 0;
//  width: 100%;
//  height: 100%;
//  text-indent: -9999px;
//  position: relative;
//}

#timeline-controls {
  .btn-primary.disabled,
  .btn-primary.disabled:hover,
  .btn-primary.disabled:focus,
  .btn-primary.disabled.focus,
  .btn-primary.disabled:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled],
  .btn-primary[disabled]:hover,
  .btn-primary[disabled]:focus,
  .btn-primary[disabled].focus,
  .btn-primary[disabled]:active,
  .btn-primary[disabled].active,
  fieldset[disabled]
  .btn-primary,
  fieldset[disabled]
  .btn-primary:hover,
  fieldset[disabled]
  .btn-primary:focus,
  fieldset[disabled]
  .btn-primary.focus,
  fieldset[disabled]
  .btn-primary:active,
  fieldset[disabled]
  .btn-primary.active {
    background-color: $orange;
  }
}

.task-planboard {
  .timeline-event-range {
    display: block;
    padding: 15px;
    font-weight: bold;
    text-align: center;
  }
  //  .timeline-event-content {
  //    span {
  //      display: block;
  //      padding: 15px;
  //      font-weight: bold;
  //      text-align: center;
  //    }
  //  }
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: $grayLighter !important;
}

.fast-availability {
  li {
    &:hover {
      background-color: $grayLighter !important;
    }
  }
}
//Tooltip temp off
.vis-item .vis-item-content {
  height: 31px;
}

.time-tip {
  position:relative;
  display: none; //remove in order to show the timetips
  top:0;
  left:0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-indent: 9999px;
  font-size: 14px;

  .slot-tooltip {
    color: $brown !important;
    position: absolute;
    height: 20px;
    //width: 45px;
    background-color: white;
    border: 1px solid #e5e5e5;
    font-size: 1em;
    text-indent: 0;

    &--start {
      left: -45px;
      bottom: -20px;
    }
    &--end {
      right: -45px;
      bottom: -20px;
    }
  }
}

/**
 * Vis Custom CSS for Wish Timeline
 */
.vis-timeline{
  .vis-item {
    background-color: $orange;
    //border-width: 1px !important;
    //border-radius: 1px !important;

    //border-color: lighten($brown, 20%) !important;
    //color: lighten($brown, 20%) !important;

    //&:hover {
    //  background-color: lighten($turq, 10%);
    //}
  }

  .vis-delete {
    background-image: url("../images/glyphicons-halflings.png");
    background-position: -48px -97px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 2px;
    padding: 0 0 0 3px;
    vertical-align: text-top;
    width: 14px;
    z-index: 10000;
    right: -5px !important;
  }
}

.vis-timeline .vis-panel.vis-background {
  //background: $brown !important;
}

.vis-timeline .vis-time-axis.vis-foreground {
  //background: $brown !important;
}

.vis-timeline .vis-panel.vis-background.vis-horizontal {
  //background: #ffffff !important;
}

$wishMax: 10;
$step: 7;


.vis-timeline {
  border-radius: 4px !important;
}

.vis-timeline {
  font-size: 14px;

  //.background {
  //  background: none;
  //}

  .vis-panel.vis-background.teamup {
    background-color: $brown !important;
    //height: 43px !important; // reasonable default, will be overridden by JS
    width: 100% !important;
  }

  .vis-inner {
    width: 100%;
    .edit-timeline-icon {
      float: right;
      margin-right: 4px;
    }
  }

  .vis-panel.vis-top {
    font-size: 0.8em !important;
    .vis-text {
      color: #fff !important;
    }
  }

  .vis-panel.left {
    width: 200px;
    .vis-content {
      width: 200px;
    }
  }

  .vis-item.vis-range {
    // ONLY item states/colors
    &.state-available {
      margin: 0;
      background-color: $turq;
      text-align: center;
      color: $white;

      &:hover {
        background-color: lighten($turq, 10%);
      }
    }

    &.state-available-south {
      margin: 0;
      background-color: #65619b;
      //    text-indent: -9999px;

      &:hover {
        background-color: lighten(#65619b, 10%);
      }
    }

    &.state-available-north {
      margin: 0;
      background-color: #242424;

      &:hover {
        background-color: lighten(#242424, 10%);
      }
    }

    &.state-schipper-service {
      margin: 0;
      background-color: #f6e500;

      &:hover {
        background-color: lighten(#f6e500, 10%);
      }
    }

    &.state-unreached {
      margin: 0;
      background-color: #8a85c7;

      &:hover {
        background-color: lighten(#8a85c7, 10%);
      }
    }

    &.state-unavailable {
      margin: 0;
      background-color: $red;

      &:hover {
        background-color: lighten($red, 10%);
      }
    }

    &.state-new {
      margin: 0;
      background-color: #ececec;
    }

    &.agg-less {
      margin: 0;
      //    background-color: #a0a0a0;
      background-color: $red;
      /*border:1px solid #a0a0a0;*/
      /*border-bottom: 10px solid #a0a0a0;*/
      // text-indent: -9999px;

      &:hover {
        background-color: lighten($red, 10%);
      }
    }

    &.agg-even {
      margin: 0;
      background-color: $orange;
      /*border:1px solid #ba6a24;*/
      /*border-bottom: 10px solid #ba6a24;*/
      // text-indent: -9999px;

      &:hover {
        background-color: lighten($orange, 10%);
      }
    }

    &.agg-1 {
      margin: 0;
      // background-color: #415e6b;
      background-color: $turq;
      /*border:1px solid #415e6b;*/
      /*border-bottom: 10px solid #415e6b;*/
      // text-indent: -9999px;

      &:hover {
        background-color: lighten($turq, 10%);
      }
    }

    &.agg-2 {
      margin: 0;
      // background-color: #3d5865;
      background-color: $turq;
      //  background-color: #477547;
      /*border:1px solid #3d5865;*/
      /*border-bottom: 10px solid #3d5865;*/
      // text-indent: -9999px;

      &:hover {
        background-color: lighten($turq, 10%);
      }
    }

    &.agg-3 {
      margin: 0;
      // background-color: #344c58;
      background-color: $turq;
      // background-color: #436f43;
      /*border:1px solid #344c58;*/
      /*border-bottom: 10px solid #344c58;*/
      // text-indent: -9999px;

      &:hover {
        background-color: lighten($turq, 10%);
      }
    }

    &.agg-4 {
      margin: 0;
      // background-color: #2f4550;
      background-color: $turq;
      // background-color: #3d673d;
      /*border:1px solid #2f4550;*/
      /*border-bottom: 10px solid #2f4550;*/

      // text-indent: -9999px;

      &:hover {
        background-color: lighten($turq, 10%);
      }
    }

    &.agg-5 {
      margin: 0;
      // background-color: #2c424c;
      background-color: $turq;
      // background-color: #396039;
      /*border:1px solid #2c424c;*/
      /*border-bottom: 10px solid #2c424c;*/
      // text-indent: -9999px;

      &:hover {
        background-color: lighten($turq, 10%);
      }
    }

    &.agg-6 {
      margin: 0;
      // background-color: #253943;
      background-color: $turq;
      // background-color: #335833;
      /*border:1px solid #253943;*/
      /*border-bottom: 10px solid #253943;*/
      // text-indent: -9999px;

      &:hover {
        background-color: lighten($turq, 10%);
      }
    }

    &.agg-more {
      margin: 0;
      background-color: $turq;
      // background-color: #305330;
      /*border:1px solid #486877;*/
      /*border-bottom: 10px solid #486877;*/
      // text-indent: -9999px;

      &:hover {
        background-color: lighten($turq, 10%);
      }
    }

    &.wishes-less {
      margin: 0;
      // background-color: #a0a0a0;
      background-color: $red;
      /*border:1px solid #a0a0a0;*/
      /*border-bottom: 10px solid #a0a0a0;*/
      /*text-indent: -9999px;*/
      text-align: center;

      &:hover {
        background-color: lighten($red, 10%);
      }
    }

    &.wishes-even {
      margin: 0;
      // background-color: #ba6a24;
      background-color: #ececec;
      /*border:1px solid #ba6a24;*/
      /*border-bottom: 10px solid #ba6a24;*/
      /*text-indent: -9999px;*/
      text-align: center;

      &:hover {
        background-color: lighten(#ececec, 10%);
      }
    }

    @for $i from 1 through 30{
      &.wishes-#{$i} {
        z-index: $i;
        background-color: darken(#b1dbed, (3 * $i));
        &:hover {
          background-color: darken(#b1dbed, ((3 * $i) - 2));//- $step))
        }
      }
    }
  }

  .vis-item {
    padding: 0;

    &.vis-selected {
      opacity: 0.8;
    }

    &.vis-range {
      border-radius: 0;
      border-style: none;

      .vis-delete {
        padding: 0px;
        padding-left: 5px;
        display: inline-block;
        margin-top: 2px;
        margin-left: -16px;
        width: 14px;
        height: 14px;
        background-image: url("../images/glyphicons-halflings.png");
        /*background-position: -10px 1px;*/
        background-repeat: no-repeat;
        vertical-align: text-top;
        line-height: 14px;
        right: 2px;
        background-position: -48px -97px;
        z-index: 10000;
      }

      .vis-delete:hover {
        cursor: pointer
      }

      .vis-content {
        position: static;
      }

      &.has-slot-tooltip,
      &.has-hover-slot-tooltip:hover {
        //height: 23px;

        .vis-item-content {
          //height: 23px;
          overflow: visible;
        }
      }

      &.has-hover-slot-tooltip:hover {
        .slot-tooltip {
          z-index: 10;
          opacity: 0.8;
        }
      }
    }
  }

  .vis-item.vis-range .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    color: white;
    /* height and color is set for each individual bar */
    text-align: center;
  }

  .vis-item.vis-range .requirement {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid gray;
    background: #e5e5e5;
    text-align: center;
    opacity: 0.5;
  }

  .vis-time-axis  .vis-grid.vis-minor,
  .vis-labelset .vis-label,
  .vis-foreground .vis-group{
    border-color: #e5e5e5;
  }

  .vis-label {
    color: $brown;
    line-height: 29px;
  }

  .vis-item.vis-background{
    background-color: rgba(107, 100, 90, 0.1);
  }
}

.vis-timeline .vis-time-axis .vis-text{
  //border-left: 1px solid $white;
  //.major {
  //  font-weight: bold;
  //}
}

.vis-timeline-tooltip{
  position: absolute;
  padding: 3px;
  opacity: 0.8;
  background-color: white;
  border: 2px solid #e5e5e5;
  display: none;
  border-radius: 2px;
}

.popover-content {
  padding: 9px 11px !important;
}
