<div class="page-header" ng-hide="views.viewClient || views.editClient || views.newClientGroup || views.reports">
	<span  class="nullable">
        <select ng-model="current" 
        		ng-options="c.id as c.name for c in clientGroups"
        		ng-selected="current"
        		ng-change="requestClientGroup(current)" >
        </select>
    </span>

</div>

<!-- Client groups and clients -->

<div class="tabbable tabs-left">
	<!-- tabs links -->
  	<ul class="nav nav-tabs nav-tabs-app" style="margin-right: 0px;">
	    <!-- add client tab link -->
	    <li class="{{(views.client==true || views.viewClient==true || views.editClient) && 'active'}}">
	      <a href="#viewClientTab" data-toggle="tab" ng-click="setViewTo('client')">
              <span class="icomoon" span data-icon="&#xe27f;" aria-hidden="true"></span>
	        {{ui.teamup.clients}}
	      </a>
	    </li>
	    <!-- end add client tab link -->
	    <!-- edit client group tab link -->
	    <li class="{{(views.newClientGroup==true) && 'active'}}">
	      <a href="#newClientGroupTab" data-toggle="tab" ng-click="setViewTo('newClientGroup')">
              <span class="icomoon" span data-icon="&#xe16b;" aria-hidden="true"></span>
              {{ui.teamup.newClientGroup}}
	      </a>
	    </li>
	    <!-- end edit client group tab link -->
	    <!-- new client tab link -->
	    <li class="{{(views.newClient==true) && 'active'}}">
	      <a href="#newClientTab" data-toggle="tab" ng-click="setViewTo('newClient')">
              <span class="icomoon" span data-icon="&#xe16b;" aria-hidden="true"></span>
              {{ui.teamup.newClient}}
	      </a>
	    </li>
    	<!-- end new client -->
    	<li class="{{(views.reports==true) && 'active'}}">
	      <a href="#reportsTab" data-toggle="tab" ng-click="setViewTo('reports')">
              <span class="icomoon" span data-icon="&#xe0cd;" aria-hidden="true"></span>
              {{ui.teamup.reports}}
	      </a>
	    </li>
    	
  	</ul>
  	<!-- end tabs links -->

	<!-- tabs content -->
	<div class="tab-content">
		<!-- Client view -->
	    <div class="tab-pane {{(views.client==true) && 'active'}}" 
	          id="viewClientTab" >
	        <div class="tab-header" ng-hide="views.editClientGroup">
	          <h3 class="pull-left">{{clientGroup.name}}</h3>
			  
	          <button type="button"
	                  ng-click="deleteClientGroup()"
	                  class="btn pull-right btn-info marginLeftTen">{{ui.teamup.del}}</button>
	          <button type="button"
	                  ng-click="editClientGroup(clientGroup)"
	                  class="btn pull-right btn-info">{{ui.teamup.edit}}</button>		  
	        </div>
			
			<div class="tab-header" ng-show="views.editClientGroup">
				<input type="text" class="pull-left" ng-model="cGroupEditForm.name"></input> 
				
				<button type="reset"
	                  ng-click="cancelClientGroupEdit(clientGroup)"
	                  class="btn pull-right btn-info">{{ui.teamup.cancel}}</button>
				<button type="button"
	                  ng-click="changeClientGroup(cGroupEditForm)"
	                  class="btn pull-right btn-info">{{ui.teamup.save}}</button>
			</div>
	        <hr>
	
	        <!-- client status -->
	       	  <p ng-hide="(data.clients[clientGroup.id]).length > 0">
		        {{ui.teamup.noClients}}
		      </p>
		      <div ng-show="(data.clients[clientGroup.id]).length > 0">
		        <table class="table table-striped">
		          <thead>
		            <tr>
		              <th></th>
		              <th><a ng-click="sorter='name'">{{ui.teamup.name}}</a></th>
		              <th><a >{{ui.teamup.states}}</a></th>
		              <th></th>
		            </tr>
		          </thead>
		          <tbody>
		            <tr ng-repeat="client in data.clients[clientGroup.id]|orderBy:lastName">
		              <td>
	                      <div class="roundedPicSmall memberStateAvailalbe" style="background-image: url({{imgHost}}/teamup/client/client/{{client.uuid}}/photo);" ></div>
		              </td>
		              <td><a href="#/clientProfile/{{client.uuid}}#viewClient">{{client.firstName}} {{client.lastName}}</a></td>
		<!--               <td>{{member.resources.role|translateRole}}</td> -->
		<!--               <td>{{member.resources.PhoneAddress}}</td> -->
					  <td>{{client.address.street}} {{client.address.no}} {{client.address.city}} {{client.address.country}}</td>
		              <td>
		                <div class="pull-right">
		                 <a href="#/clientProfile/{{client.uuid}}#editClient"><button class="btn-primary btn-mini">
	<i class="icon-edit"></i>&nbsp;</button></a>
	
	                      <button type="submit"
		                          ng-click="removeClient(client.uuid, group.uuid)"
		                          class="btn-primary btn-mini"><i class="icon-trash"></i></button>
		                </div>
		              </td>
		            </tr>
		          </tbody>
		        </table>
	
		        <!-- <button type="button"
		                ng-click="removeMembers(selection, group)"
		                class="btn btn-small btn-danger pull-left">
		                <i class="icon-trash icon-white"></i>&nbsp;{{ui.groups.removeSelectedMembers}}</button> -->
	
		        <span class="muted pull-right">
		          <small><i>{{(data.clients[clientGroup.id]|filter:filtered).length | i18n_spec:'groups.memberCount'}}</i></small>
		        </span>
		      </div>
		    </div>
	        <!-- end client status -->
		<!-- end Team view -->
		
		<!-- new Client Group-->
		<div class="tab-pane {{(views.newClientGroup==true) && 'active'}}" 
	          id="newClientGroupTab" >
	        <div class="tab-header">
	          <h3 class="pull-left">{{ui.teamup.newClientGroup}}</h3>
	        </div>
	        <hr>
	        <!-- group form -->
	        <form class="form">
	            <div class="control-group">
	    	 <input type="text"
	                class="input-xlarge search-query controls"
	                placeholder="{{ui.teamup.cGroupName}}" ng-model="cGroupForm.name">
	            </div>
	            <div class="control-group">
	         <button type="button"
	                  ng-click="cGroupSubmit(cGroupForm)"
	                  class="btn btn-success confirmButton controls">{{ui.teamup.createClientGroup}}</button>
	            </div>
	        </form> 
	    </div>
		<!-- end new Client Group-->
		
		<!-- new Client -->
		<div class="tab-pane {{(views.newClient==true) && 'active'}}" 
	          id="newClientTab" >
			<div class="tab-header">
			  <h3 class="pull-left">{{ui.teamup.newClient}}</h3>
			</div>
			<hr>
			
			<!-- client form -->
			<form>
          	<fieldset>
				<div class="control-group">
				  <label class="control-label">{{ui.profile.firstName}}</label>
				  <div class="controls">
					<input  type="text" 
				        class="span4" 
				        ng-model="clientForm.firstName">
				  </div>
				</div>
          		
          		<div class="control-group">
				  <label class="control-label">{{ui.profile.lastName}}</label>
				  <div class="controls">
					<input  type="text" 
				        class="span4" 
				        ng-model="clientForm.lastName">
				  </div>
				</div>
				
				<div class="control-group">
				  <label class="control-label">{{ui.profile.birthday}}</label>
				  <div class="controls">
					<div class="control-group dater" style="">
		              	<input name="date-start" type="text" ng-model="clientForm.birthDate" data-date-format="dd-mm-yyyy" bs-datepicker="" class="ng-pristine ng-valid" data-toggle="datepicker">
		              	<i class="icon-calendar"></i></div>
				  </div>
				</div>
				
				<div class="control-group">
				  <label class="control-label">{{ui.teamup.phone}}</label>
				  <div class="controls">
					<input  type="text" 
				        class="span4" 
				        ng-model="clientForm.phone">
				  </div>
				</div>
				
				<div class="control-group">
				  <label class="control-label">{{ui.teamup.street}}</label>
				  <div class="controls">
					<input  type="text" 
				        class="span4" 
				        ng-model="clientForm.address.street">
				  </div>
				  <label class="control-label">{{ui.teamup.Number}}</label>
				  <div class="controls">
					<input  type="text" 
				        class="span4" 
				        ng-model="clientForm.address.no">
				  </div>
				</div>
				
				<div class="control-group">
				  <label class="control-label">{{ui.teamup.postCode}}</label>
				  <div class="controls">
					<input  type="text" 
				        class="span4" 
				        ng-model="clientForm.address.zip">
				  </div>
				  
				  <label class="control-label">{{ui.teamup.city}}</label>
				  <div class="controls ">
					<input  type="text" 
				        class="span4" 
				        ng-model="clientForm.address.city">
				  </div>
				</div>
				
				<div class="control-group">
				  <label class="control-label">{{ui.teamup.clientProfileUrl}}</label>
				  <div class="controls">
					<input  type="text" 
				        class="span4" 
				        ng-model="clientForm.clientProfileUrl">
				  </div>
				</div>
				
          	</fieldset>	
          						
			<!-- end client form -->
			
			<hr>
            
            <div class="form-actions">
              <button type="submit" 
                  ng-click="clientSubmit(clientForm)" 
                  class="btn btn-success">{{ui.teamup.saveClient}}</button>
            </div>
	        
	       </form>   
	    </div>
		<!-- end new Client -->
		
		<!-- Reports -->
		<div class="tab-pane {{(views.reports==true) && 'active'}}" 
	          id="reportsTab" >
	          reports
	        
	    </div>
		<!-- end Reports-->
		
		<!-- view Client profile -->
		<div class="tab-pane {{(views.viewClient==true) && 'active'}}" 
	          id="viewClientTab" ng-show="views.viewClient" >
	          
	          <!-- client contact list -->
				<div class="tab-header">
				  <h3 class="pull-left">{{client.firstName}} {{client.lastName}}</h3>
				  <button type="button" 
	                  ng-click="deleteClientProfile()" 
	                  class="btn pull-right btn-info marginLeftTen">{{ui.teamup.del}}</button>
          		  <button type="button" 
	                  ng-click="setViewTo('editClient')" 
	                  class="btn pull-right btn-info">{{ui.profile.edit}}</button>
				</div>
				
				<hr>
				
				<div class="row-fluid">
				
					<div class="widget {{(!browser.mobile) && 'span9' || 'span12'}}">
						
						<!-- Cilent info -->
						<dl>
				          <dt>{{ui.teamup.group}}</dt>
				            <dd>
				            	<span ng-hide="app.resources.role > 1"><a href="#/client?uuid={{clientGroup.id}}#client">{{clientGroup.name}}</a></span>
				          </dd>
				          <dt>{{ui.profile.birthday}}</dt>
				            <dd>{{client.birthDate}}</dd>
				          <dt>{{ui.teamup.phone}}</dt>
				            <dd>{{client.phone}}</dd>
				          <dt>{{ui.profile.address}}</dt>
				            <dd>{{client.address.street}} {{client.address.no}} {{client.address.zip}} , {{client.address.city}} {{client.address.land}}</dd>
				          <dt>{{ui.teamup.clientProfileUrl}}</dt>
				          	<dd>{{client.clientProfileUrl}}</dd>
				        </dl>
						<!-- end Cilent info -->						
					</div>
					
					<div class="widget profilePic {{(!browser.mobile) && 'span3' || 'span12'}}" >
						<!-- profile image -->
			        	<div class="roundedPicLarge memberStateBusy" style= "background-image: url({{imgHost}}/teamup/client/{{client.uuid}}/photo)"></div>
			        	<div>
			        		<a href="#/clientProfile/{{client.uuid}}#editImg">
		                        <button class="btn btn-mini btn-primary" ng-click="editImg()"> <i class="icon-edit"></i>&nbsp;
		                        </button>
		                    </a>
		
			                <button type="submit" 
			                        ng-click="removeImg(client.uuid)" 
			                        class="btn btn-mini btn-primary"><i class="icon-trash"></i></button>
			        	</div>
			        	<!-- end profile image -->
					</div>	
				</div>		
				
				
				<div class="tab-header">
				  <h3 class="pull-left">{{ui.teamup.contacts}}</h3>
				</div>

				<hr>
				<div class="control-group">
				  <label class="control-label">{{ui.profile.firstName}}</label>
				  <div class="controls">
					<input  type="text" 
				        class="span4" 
				        ng-model="contactForm.firstName">
				  </div>
				  
				  <label class="control-label">{{ui.profile.lastName}}</label>
				  <div class="controls">
					<input  type="text" 
				        class="span4" 
				        ng-model="contactForm.lastName">
				  </div>
				  
				  <label class="control-label">{{ui.teamup.func}}</label>
				  <div class="controls">
					<input  type="text" 
				        class="span4" 
				        ng-model="contactForm.func">
				  </div>
				  
				  <label class="control-label">{{ui.profile.phone}}</label>
				  <div class="controls">
					<input  type="text" 
				        class="span4" 
				        ng-model="contactForm.phone">
				  </div>
				  
				  <button type="reset"
	                  ng-click="addContacts()"
	                  class="btn pull-right btn-info">{{ui.teamup.addContact}}</button>
				</div>
				
				<p ng-hide="contacts.length > 0">
		        	{{ui.teamup.noContacts}}
		      	</p>
			      <div ng-show="contacts.length > 0">
			        <table class="table table-striped">
			          <thead>
			            <tr>
			              <th>{{ui.teamup.name}}</th>
			              <th>{{ui.teamup.func}}</a></th>
			              <th>{{ui.teamup.phone}}</th>
			              <th></th>
			            </tr>
			          </thead>
			          <tbody>
			            <tr ng-repeat="contact in contacts|orderBy:lastName">
			              <td>{{contact.firstName}} {{contact.lastName}} </td>
			              <td>{{contact.func}}</td>
			              <td>{{contact.phone}}</td>
			              <td>
			                <div class="pull-right">
			                	<button ng-click="callContact(contact.phone)"
			                          class="btn-primary btn-mini"><i class="icon-phone3"></i></button>
			                 	<a><button class="btn-primary btn-mini">
									<i class="icon-edit"></i>&nbsp;</button></a>
		                      <button ng-click="removeContact(contact)"
			                          class="btn-primary btn-mini"><i class="icon-trash"></i></button>
			                </div>
			              </td>
			            </tr>
			          </tbody>
			        </table>
		
			        <!-- <button type="button"
			                ng-click="removeMembers(selection, group)"
			                class="btn btn-small btn-danger pull-left">
			                <i class="icon-trash icon-white"></i>&nbsp;{{ui.groups.removeSelectedMembers}}</button> -->
		
			        <span class="muted pull-right">
			          <small><i>{{(contacts|filter:filtered).length | i18n_spec:'teamup.contactCount'}}</i></small>
			        </span>
			      </div>		
				
				<!-- end client contact list -->
		        
	    </div>
		<!-- end view Client profile -->
		
		<!-- edit Client profile -->
		<div class="tab-pane {{(views.editClient==true) && 'active'}}" ng-show="views.editClient" >
          	<!-- tab header -->
	        <div style="overflow: hidden; height: 35px">
	          <h3 style="margin-top: 0;" class="pull-left">{{ui.teamup.editClient}}</h3>
	        </div>
	        <!-- end tab header -->
	        <hr>
	        
	       <div class="row-fluid">   
	        <!-- edit profile form -->
	        <form class="form-vertical">
	          <div class="control-group">
	            <label class="control-label">{{ui.profile.firstName}}</label>
	            <div class="controls">
	              <input  type="text" 
	                      class="span4" 
	                      ng-model="clientmeta.firstName"
	                      value="sd">
	            </div>
	          </div>
	          <div class="control-group">
	            <label class="control-label">{{ui.profile.lastName}}</label>
	            <div class="controls">
	              <input  type="text" 
	                      class="span4" 
	                      ng-model="clientmeta.lastName">
	            </div>
	          </div>
	          
	          <div class="control-group">
	              <label class="control-label">{{ui.profile.birthday}}</label>
	              <div class="control-group dater" style="">
	              	<input name="date-start" type="text" ng-model="clientmeta.birthDate" data-date-format="dd-mm-yyyy" 
	              		bs-datepicker="" class="ng-pristine ng-valid" data-toggle="datepicker" />
	              	<i class="icon-calendar"></i></div>
	          </div>
			<!-- <div class="control-group">
			  <label class="control-label">{{ui.teamup.role}}</label>
			  <div class="controls">
			    <select ng-model="clientmeta.role"
			            ng-options="r.id as r.label for r in roles">
			      <option value="{{client.role}}">{{client.role}}</option>
			  </div>
			</div> -->
	          
		      <div class="control-group">
		        <label class="control-label">{{ui.profile.phone}}</label>
		        <div class="controls">
		          <input  type="text" 
		                  class="span3" 
		                  ng-model="clientmeta.phone"
		                  value="{{client.phone}}">
		        </div>
		      </div>
		      
		      <div class="control-group">
				  <label class="control-label">{{ui.teamup.street}}</label>
				  <div class="controls">
					<input  type="text" 
				        class="span4" value="{{client.address.street}}"
				        ng-model="clientmeta.address.street">
				  </div>
				  <label class="control-label">{{ui.teamup.Number}}</label>
				  <div class="controls">
					<input  type="text" 
				        class="span4" value="{{client.address.no}}"
				        ng-model="clientmeta.address.no">
				  </div>
				</div>
				
			  <div class="control-group">
				  <label class="control-label">{{ui.teamup.postCode}}</label>
				  <div class="controls">
					<input  type="text" 
				        class="span4" value="{{client.address.zip}}"
				        ng-model="clientmeta.address.zip">
				  </div>
				  
				  <label class="control-label">{{ui.teamup.city}}</label>
				  <div class="controls ">
					<input  type="text" 
				        class="span4" value="{{client.address.city}}"
				        ng-model="clientmeta.address.city">
				  </div>
				</div>
				
			  <div class="control-group">
				  <label class="control-label">{{ui.teamup.clientProfileUrl}}</label>
				  <div class="controls">
					<input  type="text" 
				        class="span4" value="{{client.clientProfileUrl}}"
				        ng-model="clientmeta.clientProfileUrl">
				  </div>
				</div> 
		      
		      
	          <div class="form-actions">
	            <button   type="submit" 
	                      class="btn btn-success"
	                      ng-click="clientChange(clientmeta)">{{ui.teamup.saveClient}}</button>
	          </div>
	        </form>
	        <!-- end edit profile form -->
	       </div>
	           
	   </div>
		<!-- end edit Client profile -->
		
	</div>	
	<!-- end tabs content -->

</div>
<!-- end Client groups and clients -->