<div class="page-header">
	Teams - Clienten
</div>

<!-- Teams & Clients Organizer -->

<div class="tabbable tabs-left">

	<!-- tabs links -->
  <ul class="nav nav-tabs nav-tabs-app" style="margin-right: 0;">

    <!-- teams&clients tab link -->
    <li class="{{(views.teamClients==true) && 'active'}}">
      <a href="#viewTeamClientTab"
         data-toggle="tab"
         ng-click="setViewTo('teamClients')">
        <span class="icomoon" span data-icon="&#xe229;" aria-hidden="true"></span>
        <!--{{ui.teamup.TeamClients}}-->
        Teams & Clients
      </a>
    </li>
    <!-- end teams&clients tab link -->

    <!-- teams organizer tab link -->
    <li class="{{(views.teams==true) && 'active'}}">
      <a href="#viewTeamsTab"
         data-toggle="tab"
         ng-click="setViewTo('teams')">
         <span class="icomoon" span data-icon="&#xe043;" aria-hidden="true"></span>
        <!--{{ui.teamup.teams}}-->
        Teams
      </a>
    </li>
    <!-- end teams organizer tab link -->

    <!-- clients organizer tab link -->
    <li class="{{(views.clients==true) && 'active'}}">
      <a href="#viewClientsTab"
         data-toggle="tab"
         ng-click="setViewTo('clients')">
          <span class="icomoon" span data-icon="&#xe27f;" aria-hidden="true"></span>
        <!--{{ui.teamup.clients}}-->
        Clients
      </a>
    </li>
    <!-- end clients organizer -->

  </ul>
  <!-- end tabs links -->

	<!-- tabs content -->
	<div class="tab-content treegrid-container" ng-controller="treegrid">

		<!-- Teams & Clients organizer -->
	  <div class="tab-pane {{(views.teamClients==true) && 'active'}}"
	       id="viewTeamClientTab">

      <div class="row-fluid">
        <div class="span6">
          <h3><span class="titleIcon icon-heart7"></span>{{ui.teamup.clientGroups}}</h3>
          <hr>
          <div id="teamClients_left"></div>
        </div>
        <div class="span6">
          <h3><span class="titleIcon icon-users"></span>{{ui.teamup.teams_Cap}}</h3>
          <hr>
          <div id="teamClients_right"></div>
        </div>
      </div>

      <hr>
      <button class="btn btn-success"
              ng-click="save.teamClients()">Opslaan</button>

    </div>
		<!-- end Teams & Clients organizer -->

    <!-- Teams organizer -->
    <div class="tab-pane {{(views.teams==true) && 'active'}}"
         id="viewTeamsTab" >

      <div class="row-fluid">
        <div class="span6">
          <h3><span class="titleIcon icon-user0"></span>Members</h3>
          <hr>
          <div id="teams_left"></div>
        </div>
        <div class="span6">
          <h3><span class="titleIcon icon-users"></span>Teams</h3>
          <hr>
          <div id="teams_right"></div>
        </div>
      </div>

      <hr>
      <button class="btn btn-success"
              ng-click="save.teams()">Opslaan</button>

    </div>
    <!-- end Teams organizer -->
		
		<!-- Clients organizer -->
		<div class="tab-pane {{(views.clients==true) && 'active'}}"
	       id="viewClientsTab" >

      <div class="row-fluid">
        <div class="span6">
          <h3><span class="titleIcon icon-heart7"></span>Clients</h3>
          <hr>
          <div id="clients_left"></div>
        </div>
        <div class="span6">
          <h3><span class="titleIcon icon-users"></span>Groups</h3>
          <hr>
          <div id="clients_right"></div>
        </div>
      </div>

      <hr>
      <button class="btn btn-success"
              ng-click="save.clients()">Opslaan</button>

	  </div>
		<!-- end Clients organizer -->
		
	</div>	
	<!-- end tabs content -->
	
</div>	


<!-- end Teams & Clients Organizer -->