<div class="page-header">
	Teams - Clienten
</div>

<!-- Teams & Clients Organizer -->

<div class="tabbable tabs-left">

	<!-- tabs links -->
  <ul class="nav nav-tabs nav-tabs-app" style="margin-right: 0px;">

    <!-- teams&clients tab link -->
    <li class="{{(views.teamClients==true) && 'active'}}">
      <a href="#viewTeamClientTab"
         data-toggle="tab"
         ng-click="setViewTo('teamClients')">
        <span class="entypo">&#9998;</span>
        {{ui.teamup.TeamClients}}
      </a>
    </li>
    <!-- end teams&clients tab link -->

    <!-- teams organizer tab link -->
    <li class="{{(views.teams==true) && 'active'}}">
      <a href="#viewTeamsTab"
         data-toggle="tab"
         ng-click="setViewTo('teams')">
        <span class="entypo">&#9998;</span>
        {{ui.teamup.teams}}
      </a>
    </li>
    <!-- end teams organizer tab link -->

    <!-- clients organizer tab link -->
    <li class="{{(views.clients==true) && 'active'}}">
      <a href="#viewClientsTab"
         data-toggle="tab"
         ng-click="setViewTo('clients')">
        <span class="entypo">&#59136;</span>
        {{ui.teamup.clients}}
      </a>
    </li>
    <!-- end clients organizer -->

  </ul>
  <!-- end tabs links -->

	<!-- tabs content -->
	<div class="tab-content">

		<!-- Teams & Clients organizer -->
	  <div class="tab-pane {{(views.teamClients==true) && 'active'}}"
	       id="viewTeamClientTab" >

      <div class="row-fluid"
          ng-controller="treegrid">
        <div class="span6">
          <h3>Client groepen</h3>
          <hr>
          <div id="files"></div>
        </div>
        <div class="span6">
          <h3>Teams</h3>
          <hr>
          <div id="folders"></div>
        </div>
      </div>

      <hr>
      <button class="btn btn-primary">Opslaan</button>



    </div>
		<!-- end Teams & Clients organizer -->

    <!-- Teams organizer -->
    <div class="tab-pane {{(views.teams==true) && 'active'}}"
         id="viewClientsTab" >
      Clients
    </div>
    <!-- end Teams organizer -->
		
		<!-- Clients organizer -->
		<div class="tab-pane {{(views.clients==true) && 'active'}}"
	       id="viewTeamsTab" >
	    Teams
	  </div>
		<!-- end Clients organizer -->
		
	</div>	
	<!-- end tabs content -->
	
</div>	


<!-- end Teams & Clients Organizer -->