<section id="planboard">

<div class="page-header row-fluid">

	<span class="nullable pull-left">
    <select ng-model="current"
            ng-options="t.uuid as t.name for t in list | orderBy:'name'"
            ng-change="changeCurrent()">
    </select>
  </span>



  <!-- timeline controls -->

  <div id="timeline-controls"
       ng-controller="timeline-navigation"
       class="pull-right"
       style="text-align: right">

    <!-- range indicator -->
    <h4 style="font-weight: normal; padding-right: 40px;">
      {{timeline.range | rangeMainFilter}}<br>
      <!-- timeline scope info -->
      <div style="font-size: 15px; font-weight: lighter">
        <span>{{timeline | rangeInfoFilter}}</span>
      </div>
      <!-- end timeline scope info -->
    </h4>
    <!-- end range indicator -->

  </div>
  <!-- end timeline controls -->

</div>





<div class="tabbable tabs-left" ng-controller="timeline">

  <!-- tabs links -->
  <ul class="nav nav-tabs nav-tabs-app" style="margin-right: 0;">

    <!-- teams organizer tab link -->
    <li class="{{(views.teams==true) && 'active'}}">
      <a href="#viewTeamsTab"
         data-toggle="tab"
         ng-click="setViewTo('teams')">
          <span class="icomoon" span data-icon="&#xe043;" aria-hidden="true"></span>
        {{ui.teamup.teams}}
      </a>
    </li>
    <!-- end teams organizer tab link -->

    <!-- clients organizer tab link -->
    <li class="{{(views.clients==true) && 'active'}}">
      <a href="#viewClientsTab"
         data-toggle="tab"
         ng-click="setViewTo('clients')">
          <span class="icomoon" span data-icon="&#xe27f;" aria-hidden="true"></span>
        {{ui.teamup.clients}}
      </a>
    </li>
    <!-- end clients organizer -->

  </ul>
  <!-- end tabs links -->









  <!-- tabs content -->
  <div class="tab-content treegrid-container" ng-controller="treegrid">

    <!-- Teams organizer -->
    <div class="tab-pane {{(views.teams==true || views.clients==true) && 'active'}}"
         id="viewTeamsTab" >


      <div class="tab-header">
        <h3 class="pull-left">{{ currentName }}</h3>
      </div>
      <br>
      <hr>




      <!-- timeline -->
      <div id="timeline">

        <!-- user timeline -->
        <div id="mainTimeline"></div>
        <!-- end user timeline -->

      </div>
      <!-- end timeline -->

      <hr>

      <!-- planboard footer -->
      <p>
        <small class="pull-left">
          <span class="timeline-footer-text">{{ui.planboard.lastSyncTime}}</span>&nbsp;
          <span class="timeline-footer-text">{{data.synced | nicelyDate}}</span>
        </small>
        <small class="pull-right">
          <span class="timeline-footer-text">{{ui.planboard.dataRangeStart}}</span>
          <span class="timeline-footer-text">{{data.periods.start | nicelyDate}}</span>
          &nbsp;|&nbsp;
          <span class="timeline-footer-text">{{ui.planboard.dataRangeEnd}}</span>
          <span class="timeline-footer-text">{{data.periods.end | nicelyDate}}</span>
        </small>
      </p>
      <!-- end planboard footer -->




    </div>
    <!-- end Teams organizer -->

  </div>
  <!-- end tabs content -->













</div>

</section>