
<div class="page-header" ng-hide="views.newTeam || views.newMember">
	<span  class="nullable">
        <select ng-model="current" 
        		ng-options="t.uuid as t.name for t in teams | orderBy:'name'"
        		ng-selected="current"
        		ng-change="requestTeam(current)" >
        </select>
    </span>

</div>

<!-- teams and members -->
<div class="tabbable tabs-left">

  <!-- tabs links -->
  <ul class="nav nav-tabs nav-tabs-app" style="margin-right: 0px;">
    <!-- add group tab link -->
    <li class="{{(views.team==true) && 'active'}}">
      <a href="#viewTeamTab" data-toggle="tab" ng-click="setViewTo('team')">
        <span class="entypo">&#9998;</span>
        {{ui.teamup.teams}}
      </a>
    </li>
    <!-- end add group tab link -->
    <!-- edit group tab link -->
    <li class="{{(views.newTeam==true) && 'active'}}">
      <a href="#newTeamTab" data-toggle="tab" ng-click="setViewTo('newTeam')"> 
        <span class="entypo">&#9998;</span>
        {{ui.teamup.newTeam}}
      </a>
    </li>
    <!-- end edit group tab link -->
    <!-- new member tab link -->
    <li class="{{(views.newMember==true) && 'active'}}">
      <a href="#newMemberTab" data-toggle="tab" ng-click="setViewTo('newMember')">
        <span class="entypo">&#59136;</span>
        {{ui.teamup.newMember}}
      </a>
    </li>
    
    
  </ul>
  <!-- end tabs links -->

  <!-- tabs content -->
  <div class="tab-content">

    <!-- Team view -->
    <div class="tab-pane {{(views.team==true) && 'active'}}" 
          id="viewTeamTab" >
        <div class="tab-header" ng-hide="views.editTeam">
          <h3 class="pull-left">{{team.name}}</h3>
		  <h4 class="pull-left" ng-show="(team.phone != '' && team.phone != null)">({{team.phone}})</h4>
		  
          <button type="button"
                  ng-click="deleteTeam()"
                  class="btn pull-right btn-info marginLeftTen">{{ui.teamup.del}}</button>
          <button type="button"
                  ng-click="editTeam(team)"
                  class="btn pull-right btn-info">{{ui.teamup.edit}}</button>		  
        </div>
		
		<div class="tab-header" ng-show="views.editTeam">
			<input type="text" class="pull-left" ng-model="teamEditForm.name">
			
			<button type="reset"
                  ng-click="cancelTeamEdit(team)"
                  class="btn pull-right btn-info marginLeftTen">{{ui.teamup.cancel}}</button>
			<button type="button"
                  ng-click="changeTeam(teamEditForm)"
                  class="btn pull-right btn-info">{{ui.teamup.save}}</button>
		</div>
        <hr>

        <!-- team status -->
       	  <p ng-hide="(data.members[team.uuid]).length > 0">
	        {{ui.teamup.noMembers}}
	      </p>
	      <div ng-show="(data.members[team.uuid]).length > 0">
	        <table class="table table-striped">
	          <thead>
	            <tr>
	              <th></th>
	              <th><a ng-click="sorter='name'">{{ui.teamup.name}}</a></th>
	              <th><a >{{ui.teamup.states}}</a></th>
	              <th></th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr ng-repeat="member in data.members[team.uuid]|orderBy:lastName">
	              <td>
                      <div class="roundedPicSmall {{member.states|stateColor}}"  id="img_{{member.uuid|escape}}"></div>
	              </td>
	              <td><a href="#/profile/{{member.uuid}}#profile">{{member.firstName}} {{member.lastName}}</a></td>
	<!--               <td>{{member.resources.role|translateRole}}</td> -->
	<!--               <td>{{member.resources.PhoneAddress}}</td> -->
				  <td>
				  	<span ng-repeat="state in member.states | filter:share=true " class="states">
                        <span data-icon="{{state.name|stateDataIcon:'data_icon'}}" aria-hidden="true" class="stateIcon {{state.name|stateDataIcon:'class_name'}}"></span>
<!--				  		<i class="{{state.name|stateIcon}} icon-yellow icomoon-plus" ></i>-->
			  			<span class="stateValue">{{state.value}}</span>
				  	</span>
				  </td>
	              <td>
	                <div class="pull-right">
	                 <a href="#/profile/{{member.uuid}}#edit"><button class="btn-primary btn-mini">
<i class="icon-edit"></i>&nbsp;</button></a>

                      <button type="submit"
	                          ng-click="removeMember(member.uuid, group.uuid)"
	                          class="btn-primary btn-mini"><i class="icon-trash"></i></button>
	                </div>
	              </td>
	            </tr>
	          </tbody>
	        </table>

	        <!-- <button type="button"
	                ng-click="removeMembers(selection, group)"
	                class="btn btn-small btn-danger pull-left">
	                <i class="icon-trash icon-white"></i>&nbsp;{{ui.groups.removeSelectedMembers}}</button> -->

	        <span class="muted pull-right">
	          <small><i>{{(data.members[team.uuid]|filter:filtered).length | i18n_spec:'groups.memberCount'}}</i></small>
	        </span>
	      </div>
	    </div>
        <!-- end team status -->
	<!-- end Team view -->
	
    <!-- end add group tab -->

    <!-- edit group tab -->
    <div class="tab-pane {{(views.newTeam==true) && 'active'}}"
    	  id="newTeamTab" >
        <div class="tab-header">
          <h3 class="pull-left">{{ui.teamup.newTeam}}</h3>
        </div>
        <hr>
        <!-- group form -->
        <form class="form">
            <div class="control-group">
    	 <input type="text"
                class="input-xlarge search-query controls"
                placeholder="{{ui.teamup.teamName}}" ng-model="teamForm.name">
            </div>
            <div class="control-group">
         <button type="button"
                  ng-click="teamSubmit(teamForm)"
                  class="btn btn-success confirmButton controls">{{ui.teamup.createTeam}}</button>
            </div>
        </form>
        <!-- end group form -->
    </div>
    <!-- edit group tab -->

    <!-- new member tab -->
    <div class="tab-pane {{(views.newMember==true) && 'active'}}" 
          id="newMemberTab" >
        <div class="tab-header">
          <h3 class="pull-left">{{ui.teamup.newMember}}</h3>          
        </div>
        <hr>
        <!-- member form -->
        <form>
          <fieldset>
            <div class="control-group">
              <label class="control-label">{{ui.teamup.teams}}</label>
              <div class="controls">
                <select ng-model="memberForm.team"
                        ng-options="t.uuid as t.name for t in teams | orderBy:'name'">
                  <option value="">{{ui.teamup.chooseTeam}}</option>
                </select>
              </div>
            </div>
            <hr>
            
              <div class="row">
                  <form class="form">
                      <div class="span6">
                          <fieldset>
                              <div class="control-group">
                                  <label class="control-label">{{ui.profile.firstName}}</label>
                                  <div class="controls">
                                      <input  type="text"
                                              class="span4"
                                              ng-model="memberForm.firstName">
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label">{{ui.profile.lastName}}</label>
                                  <div class="controls">
                                      <input  type="text"
                                              class="span4"
                                              ng-model="memberForm.lastName">
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label">{{ui.teamup.role}}</label>
                                  <div class="controls">
                                      <select ng-model="memberForm.role"
                                              ng-options="r.id as r.label for r in roles">
                                          <option value="">{{ui.teamup.chooseRole}}</option>
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label">{{ui.teamup.phone}}</label>
                                  <div class="controls">
                                      <input  type="text"
                                              class="span3"
                                              ng-model="memberForm.phone">
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label">{{ui.teamup.func}}</label>
                                  <div class="controls">
                                      <select ng-model="memberForm.function"
                                              ng-options="f.id as f.label for f in mfuncs">
                                          <option value="">{{ui.teamup.chooseFunction}}</option>
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label">{{ui.profile.birthday}}</label>
                                  <div class="control-group dater" style="">
                                      <input name="date-start" type="text" ng-model="memberForm.birthDate" data-date-format="dd-mm-yyyy" bs-datepicker="" class="ng-pristine ng-valid" data-toggle="datepicker">
                                      <i class="icon-calendar"></i></div>
                              </div>
                          </fieldset>
                      </div>
                      <div class="span6">
                          <fieldset>
                              <div class="control-group">
                                  <label class="control-label">{{ui.profile.username}}</label>
                                  <div class="controls">
                                      <input  type="text"
                                              class="span3"
                                              ng-model="memberForm.username">
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label">{{ui.profile.password}}</label>
                                  <div class="controls">
                                      <input  type="password"
                                              class="span3"
                                              ng-model="memberForm.password">
                                  </div>
                              </div>
                              <div class="control-group">
                                  <label class="control-label">{{ui.profile.retypePassword}}</label>
                                  <div class="controls">
                                      <input  type="password"
                                              class="span3"
                                              ng-model="memberForm.reTypePassword">
                                  </div>
                              </div>
                          </fieldset>
                      </div>
                  </form>
              </div>
              
            <hr>

            <div class="form-actions">
              <button type="submit"
                  ng-click="memberSubmit(memberForm)"
                  class="btn btn-success">{{ui.teamup.saveMember}}</button>
            </div>
          </fieldset>
        </form>
        <!-- end member form -->



    </div>
    <!-- end new member tab -->

    
    <!-- end group tab -->

  </div>
  <!-- end tabs content -->
</div>
<!-- end groups and members -->