li(data-match-route='/dashboard/status')
	a(href='planboard#timelineTab', data-toggle='tab', ng-click='nav("dashboard/status")')
		span.entypo &#59249;
		| Status
li(data-match-route='/dashboard/agenda')
	a(href='planboard#timelineTab', data-toggle='tab', ng-click='nav("dashboard/agenda")')
		span.entypo &#128340;
		| {{ui.planboard.planboard}}
li(data-match-route='/dashboard/order')
	a(href='planboard#timelineTab', data-toggle='tab', ng-click='nav("dashboard/order")')
		span.entypo &#57349;
		| Volgorde
li(data-match-route='/dashboard/logs')
	a(href='planboard#timelineTab', data-toggle='tab', ng-click='nav("dashboard/logs")')
		span.entypo &#59392;
		| Logs
li(data-match-route='/dashboard/options')
	a(href='planboard#timelineTab',  data-toggle='tab', ng-click='nav("dashboard/options")')
		span.entypo &#9881;
		| Instellingen
