li(data-match-route='/team-telefoon/agenda')
	a(href='planboard#timelineTab', data-toggle='tab', ng-click='nav("team-telefoon/agenda")')
		span.entypo &#128340;
		| {{ui.planboard.planboard}}
li(data-match-route='/team-telefoon/status')
	a(href='planboard#timelineTab', data-toggle='tab', ng-click='nav("team-telefoon/status")')
		span.entypo &#59249;
		| Status
li(data-match-route='/team-telefoon/order')
	a(href='planboard#timelineTab', data-toggle='tab', ng-click='nav("team-telefoon/order")')
		span.entypo &#57349;
		| Volgorde
li(data-match-route='/team-telefoon/logs')
	a(href='planboard#timelineTab', data-toggle='tab', ng-click='nav("team-telefoon/logs")')
		span.entypo &#59392;
		| Logs