div.btn-group.pull-right
	button.btn.btn-success(type='submit',
	ng-click='toggleSlotForm()',
	class="{{(views.slot.add==true) && 'active'}}")
		| {{ui.planboard.newAvail}}
	button.btn.btn-success.dropdown-toggle(data-toggle='dropdown')
		span.caret
	ul.dropdown-menu.fast-availability(style='right: 0; font-size: 13px;')
		li
			a(ng-click='setAvailability(true, 1)')
				.square.available
				| Beschikbaar (1 uur)
		li
			a(ng-click='setAvailability(true, 6)')
				.square.available
				| Beschikbaar (6 uur)
		li
			a(ng-click='setAvailability(true, 24)')
				.square.available
				| Beschikbaar (24 uur)
		li.divider
		li
			a(ng-click='setAvailability(false, 1)')
				.square.unavailable
				| Niet beschikbaar (1 uur)
		li
			a(ng-click='setAvailability(false, 6)')
				.square.unavailable
				| Niet beschikbaar (6 uur)
		li
			a(ng-click='setAvailability(false, 24)')
				.square.unavailable
				| Niet beschikbaar (24 uur)