<div id="welcome">

	<!-- preloader -->
	<div id="preloader">
		<img ng-src="{{config.profile.logos.login}}" alt="{{config.profile.title}}" />
	  <h4>Setting up the application</h4>
	  <div class="progress progress-striped active" class="span3">
	    <div class="bar"></div>
	  </div>
	  <span class="muted"></span>
	</div>
	<!-- end preloader -->

	<!-- loginForm -->
	<div id="login" class="boxed" ng-show="views.login" ng-hide="views.help">
		<form ng-submit="login()">
		  <img ng-src="{{config.profile.logos.login}}" alt="{{config.profile.title}}" />
		  <h4 class="form-signin-heading">{{ui.login.header}}</h4>
      <!-- alert login -->
      <div class="alert {{alert.login.type}}" ng-show="alert.login.display">
        <button class="close" type="button" ng-click="alert.login=false">×</button>
        {{alert.login.message}}
      </div>
      <!-- end login password -->
		  <input 
		    class="" 
		    type="text" 
		    ng-model="logindata.username"
		    placeholder="{{ui.login.placeholder_username}}" 
		    autofocus>
		  <input 
		      class="" 
		      type="password" 
		      ng-model="logindata.password"
		      placeholder="{{ui.login.placeholder_password}}">
		  <label class="checkbox span3">
		    <input 
		      type="checkbox" 
		      ng-model="logindata.remember">{{ui.login.label_rememberMe}}
		  </label>
		  <button class="btn btn-large btn-primary" type="submit">{{ui.login.button_login}}</button>
		  <p>
		  	<small>
		  		<a ng-click="views.forgot=true; views.login=false">{{ui.login.forgot_password}}</a>
		  		&nbsp;|&nbsp;
		  		<a ng-click="views.help=true">Hulp</a>
		  	</small>
		  </p>
		  <p>
		  	<small>
			  	<a ng-click="changeLanguage('en')">English</a>
			  	&nbsp;|&nbsp;
			  	<a ng-click="changeLanguage('nl')">Nederlands</a>
		  	</small>
		  </p>
		  <span class="version"><a href="version.html" target="_blank">v{{config.version}}</a></span>
		</form>
	</div>
	<!-- end loginForm -->

	<!-- help -->
	<div id="login" class="boxed" ng-show="views.help" ng-hide="views.login">
		<form ng-submit="">
		  <img ng-src="{{config.profile.logos.login}}" alt="{{config.profile.title}}" />
		  <h4 class="form-signin-heading">Hulp</h4>
		  <p style="text-align: left;">Om in te loggen en gebruik te maken van het paraatheidssysteem van ASK, dient u te beschikken over een juiste login. Heeft u nog geen login, neem dan contact op met uw teamleider voor meer informatie.</p>
		  <p style="text-align: left;">Na het invullen van uw login gegevens kunt u gebruik maken van de “onthoud mij” optie. Wanneer u deze optie aanvinkt, wordt u automatisch ingelogd, elke volgende keer dat u site bezoekt.</p>
		  <p style="text-align: left;">Bent u uw wachtwoord vergeten, dan kunt u door middel van de “wachtwoord vergeten” link een nieuw wachtwoord aanvragen en laten versturen naar uw eigen email adres.</p>
		  <p style="text-align: left;">Door op English of Nederlands te klikken kunt u de taal instellen.</p>
		  <p>
		  	<small>
			  	<a ng-click="views.help=false; views.login=true">Terug naar inloggen</a>
		  	</small>
		  </p>
		</form>
	</div>
	<!-- end help -->

	<!-- remember login -->
	<div id="forgot" class="boxed" ng-show="views.forgot">
		<form ng-submit="forgot()">
		  <img ng-src="{{config.profile.logos.login}}" alt="{{config.profile.title}}" />
		  <h4 class="form-signin-heading">{{ui.login.forgetPassword}}</h4>
	      <div class="alert {{alert.forget.type}}" ng-show="alert.forget.display">
	        <button class="close" type="button" ng-click="alert.forget=false">×</button>
	        {{alert.forget.message}}
	      </div>
		  <input 
		    class="" 
		    type="text" 
		    ng-model="remember.id"
		    placeholder="{{ui.login.emailAddress}}">

		  <button class="btn btn-large btn-primary" type="submit">{{ui.login.resetPassword}}</button>
		  <p><small><a ng-click="views.login=true; views.forgot=false">{{ui.login.returnLogin}}</a></small></p>
		  <span class="version"><a href="version.html" target="_blank">v{{config.version}}</a></span>
		</form>
	</div>
	<!-- end remember login -->
	
	<!-- change pass --> 
	<div id="changePass" ng-show="views.changePass">
		<form ng-submit="changePass()">
			<img ng-src="{{config.profile.logos.login}}" alt="{{config.profile.title}}" />
			<br>
			<h4 class="form-signin-heading">{{changepass.uuid}}</h4>
			<div class="alert {{alert.changePass.type}}" ng-show="alert.changePass.display">
				<button class="close" type="button" ng-click="alert.changePass=false">×</button>
				{{alert.changePass.message}}
			</div>
			<input class="" type="password" ng-model="changeData.newPass" placeholder="{{ui.login.ph_newPass}}">
			<input class="" type="password" ng-model="changeData.retypePass" placeholder="{{ui.login.ph_retypePass}}">
			
			<button class="btn btn-large btn-primary" type="submit">{{ui.login.changePassword}}</button>

		    <br><span class="version"><a href="version.html" target="_blank">v{{config.version}}</a></span>
		</form>
	</div>
	
	<!-- end change pass -->
</div>


<!-- download mobile app -->
<!-- <div id="download">
	<button class="btn btn-success btn-large" type="button" bs-tooltip="ui.downloads.app">
		{{ui.login.downloadApp}}
	</button>
</div> -->
<!-- end download mobile app -->


<!-- knrm users -->
<div id="demo_users" class="well" ng-show="demo_users">
	<h4>Test users</h4>
	<hr>
	<ul>
		<li ng-repeat="user in demo_users">
			<a ng-click="knrmLogin(user)">{{user.name}} ({{user.resources.role|translateRole}})</a>
		</li>
	</ul>
</div>
<!-- end knrm users -->
