<!-- <div class="page-header">
  <h2>Settings</h2>
</div> -->


<!-- settings -->
<div class="row-fluid">
  <div class="tabbable tabs-left">
    
    <!-- tabs -->
    <ul class="nav nav-tabs nav-tabs-app" style="margin-right: 0px;">

      <li class="active">
        <a href="#purchaser" 
            data-toggle="tab">Buy number</a>
      </li>

      <li class="active">
        <a href="#manager" 
            data-toggle="tab">Add number</a>
      </li>

      <li class="active">
        <a href="#notifier" 
            data-toggle="tab">Call notifications</a>
      </li>

      <li class="active">
        <a href="#reporter" 
            data-toggle="tab">Recent calls</a>
      </li>

      <li class="active">
        <a href="#guarder" 
            data-toggle="tab">Blacklist</a>
      </li>

    </ul>
    <!-- end tabs -->


    <!-- tabs content -->
    <div class="tab-content">



      <!-- userSettingsTab -->
      <div class="tab-pane active" id="userSettingsTab">
        <div class="tab-header">
          <h3 class="pull-left">{{ui.settings.userSettings}}</h3>
        </div>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <!-- end userSettingsTab -->



    </div>
    <!-- end tabs content -->

  </div>
</div>
<!-- end settings -->