 <section id="widget-pies">
  <form>
    <fieldset>

      <div class="control-group">
        <div class="controls">
          <ul>
            <li ng-repeat="group in popover.groups"
                style="margin-top: 8px;">

              <label>
                <input type="checkbox"
                       ng-model="popover.selection[group.uuid].status">&nbsp;{{group.name}}
              </label>

              <label ng-show="popover.selection[group.uuid].status && popover.divisions"
                     style="margin-left: 20px;">
                <input type="checkbox"
                       ng-model="popover.selection[group.uuid].divisions"
                       style="margin-top: 0;">
                <span style="margin: 0 0 0 5px;"><i>Divisies</i></span>
                <br>
              </label>

            </li>
          </ul>
        </div>
      </div>
        
    </fieldset>
  </form>

  <hr>
  
  <div class="actions">

    <button type="button" 
            class="btn btn-small" 
            ng-click="dismiss()">{{ui.dashboard.widgetCancel}}</button>

    <button type="button" 
            class="btn btn-primary btn-small" 
            ng-click="saveOverviewWidget(popover.selection); dismiss()">{{ui.dashboard.widgetSave}}</button>

  </div>
</section>