<section id="dashboard">

  <div class="well well-large greetings">
    <h2>{{ui.dashboard.welcome}}, {{app.resources.name}}</h2>
  </div>


  <!--smartAlarming-->
  <div class="row-fluid">
    <div id="sa"
         class="widget span12"
         ng-show="config.profile.smartAlarm">

      <div class="head">
        <h4>SlimAlarmeren</h4>

        <div id="sa-state"
              class="pull-right">
          <small ng-show="app.guard.currentState">
            <i class="icon-fire"></i>&nbsp;Status </small>&nbsp;&nbsp;

            <span ng-show="app.guard.currentState=='available' || app.guard.currentState=='Beschikbaar'"
                  class="label"
                  style="background-color: #4f824f">BESCHIKBAAR</span>

            <span ng-show="app.guard.currentState=='noplanning' || app.guard.currentState=='Geen planning'"
                  class="label"
                  style="background-color: #a0a0a0">GEEN PLANNING</span>

            <span ng-show="app.guard.currentState=='unavailable' || app.guard.currentState=='Niet Beschikbaar'"
                  class="label"
                  style="background-color: #a93232">NIET BESCHIKBAAR</span>

            <span class="label label-inverse" style="margin-left: 5px;">{{app.guard.role.toUpperCase()}}</span>

            <div class="btn-group"
                  style="margin: -10px 0 0 8px;">
              <button class="btn btn-mini dropdown-toggle"
                      data-toggle="dropdown">Nieuwe beschikbaarheid <span class="caret"></span></button>
              <ul class="dropdown-menu pull-right fast-availability"
                  style="font-size: 10px;">
                <li>
                  <a ng-click="setPrefixedAvailability(true, 1)">
                    <div class="square available"></div> Beschikbaar (1 uur)
                  </a>
                </li>
                <li>
                  <a ng-click="setPrefixedAvailability(true, 6)">
                    <div class="square available"></div> Beschikbaar (6 uur)
                  </a>
                </li>
                <li>
                  <a ng-click="setPrefixedAvailability(true, 24)">
                    <div class="square available"></div> Beschikbaar (24 uur)
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a ng-click="setPrefixedAvailability(false, 1)">
                    <div class="square unavailable"></div> Niet beschikbaar (1 uur)
                  </a>
                </li>
                <li>
                  <a ng-click="setPrefixedAvailability(false, 6)">
                    <div class="square unavailable"></div> Niet beschikbaar (6 uur)
                  </a>
                </li>
                <li>
                  <a ng-click="setPrefixedAvailability(false, 24)">
                    <div class="square unavailable"></div> Niet beschikbaar (24 uur)
                  </a>
                </li>
              </ul>
            </div>

          </small>
        </div>

      </div>
      <hr/>

      <p ng-show="loading.smartAlarm">Indeling SlimAlarmeren lijst laden...</p>

      <!--smartAlarming listing-->
      <ul id="sa-setup"
          ng-hide="loading.smartAlarm">
        <!--truck personnel-->
        <li id="sa-truck">
          <div class="sa-member"
                ng-repeat="trucker in saMembers.truck | orderBy:'rank'">
            <span class="sa-member-icon {{(trucker.class) && trucker.class}}">
              <strong>{{trucker.icon}}</strong>
            </span>
            <div class="sa-member-card">
              <h5>{{trucker.role}}</h5>
              <hr/>
              <span>{{trucker.name}}</span>
            </div>
          </div>
        </li>
        <!--end truck personnel-->

        <!--reserves personnel-->
        <li id="sa-reserves"
            ng-show="toggleReserves">

          <div class="sa-member"
               ng-repeat="reserve in saMembers.reserves.available">
            <span class="sa-member-icon sa-icon-reserve-available">
              <strong>B{{$index+1}}</strong>
            </span>
            <div class="sa-member-card">
              <h5>Beschikbaar</h5>
              <hr/>
              <span>{{reserve.name}}</span>
            </div>
          </div>

          <div class="sa-member"
               ng-repeat="reserve in saMembers.reserves.noplanning">
            <span class="sa-member-icon sa-icon-reserve-noplanning">
              <strong>G{{$index+1}}</strong>
            </span>
            <div class="sa-member-card">
              <h5>Geen planning</h5>
              <hr/>
              <span>{{reserve.name}}</span>
            </div>
          </div>

          <div class="sa-member"
               ng-repeat="reserve in saMembers.reserves.unavailable">
            <span class="sa-member-icon sa-icon-reserve-unavailable">
              <strong>N{{$index+1}}</strong>
            </span>
            <div class="sa-member-card">
              <h5>Niet beschikbaar</h5>
              <hr/>
              <span>{{reserve.name}}</span>
            </div>
          </div>


        </li>
        <!--end reserves personnel-->

      </ul>
      <!--end smartAlarming listing-->

      <!-- p2000 footer -->
      <p ng-hide="loading.smartAlarm">
        <small class="pull-left">
          <span class="text-warning">{{ui.planboard.lastSyncTime}}</span>&nbsp;
          <span class="muted">{{saSynced | nicelyDate}}</span>
        </small>
      </p>
      <!-- end p2000 footer -->

      <button ng-click="toggleReserves=!toggleReserves"
              class="btn btn-mini pull-right"
              ng-hide="loading.smartAlarm">
        <span ng-hide="toggleReserves">Toon reserves</span>
        <span ng-show="toggleReserves">Verberg reserves</span>
      </button>

    </div>
  </div>
  <!--end smartAlarming-->


  <!-- row-fluid -->
  <div class="row-fluid">

      <!-- pie charts for groups -->
      <div class="widget {{(!browser.mobile) && 'span9' || 'span12'}}">

        <div class="head">
          <h4>{{ui.dashboard.overview}}</h4>
          <button id="dashboardPopoverBtn"
                  class="btn btn-small"
                  bs-popover="'dist/views/dashboard-pies.html'"
                  data-placement="{{(browser.mobile) && 'left' || 'bottom'}}"
                  data-title="Overzicht instellingen"
                  ng-click="fixPopoverPos()"><i class="icon-cog"></i></button>
        </div>
        <hr>

        <p ng-hide="loading.pies || !checkAnyPies()"
            ng-show="checkAnyPies()">Er zijn geen groepen geselecteerd.</p>

        <p ng-show="loadingPies">{{ui.dashboard.groupOverviews}}</p>

        <!-- pie loop -->
        <ul id="pies" ng-hide="loadingPies || checkAnyPies()" >
          <li ng-repeat="pie in pies">

            <header>
              <h4>{{pie.name}}
                <span ng-show="(pie.division != 'both')">&nbsp;({{ pie.division | translateDivision }})</span>
              </h4>
            </header>

            <div class="blocks">
              <div class="span4">
                <div class="block">
                  <div class="icon">
                    <div class="scoreboard {{pie.state.cls}}">
                      <span class="state">{{pie.state.diff + pie.state.wish}}</span>
                      <span class="seperator">/</span>
                      <span class="wish">{{pie.state.wish}}</span>
                    </div>
                  </div>
                  <div class="body">
                    <h3>{{ui.dashboard.currentState}}</h3>
                    <hr>
                    <h5>{{pie.state.start}}</h5>&nbsp;
                    <small class="muted">van</small>
                    <br>
                    <h5>{{pie.state.end}}</h5>&nbsp;
                    <small class="muted">tot</small>
                  </div>
                </div>
              </div>

              <div class="span4">
                <div class="block">
                  <div class="icon">
                    <div id="weeklyPieCurrent-{{pie.id}}-{{pie.division}}" class="pie"></div>
                  </div>
                  <div class="body">
                    <h3>{{ui.dashboard.thisWeek}}</h3>
                    <hr>
                    <small class="muted">{{pie.weeks.current.start.date}} / {{pie.weeks.current.end.date}}</small>
                    <br>
                    <h5>{{pie.weeks.current.ratios.more}}%</h5>&nbsp;
                    <small class="muted">{{ui.dashboard.statMore}}</small>,&nbsp;
                    <h5>{{pie.weeks.current.ratios.even}}%</h5>&nbsp;
                    <small class="muted">{{ui.dashboard.statEven}}</small>,&nbsp;
                    <h5>{{pie.weeks.current.ratios.less}}%</h5>&nbsp;
                    <small class="muted">{{ui.dashboard.statLess}}</small>
                  </div>
                </div>
              </div>

              <div class="span4">
                <div class="block">
                  <div class="icon">
                    <div id="weeklyPieNext-{{pie.id}}-{{pie.division}}" class="pie"></div>
                  </div>
                  <div class="body">
                    <h3>{{ui.dashboard.nextWeek}}</h3>
                    <hr>
                    <small class="muted">{{pie.weeks.next.start.date}} / {{pie.weeks.next.end.date}}</small>
                    <br>
                    <h5>{{pie.weeks.next.ratios.more}}%</h5>&nbsp;
                    <small class="muted">{{ui.dashboard.statMore}}</small>,&nbsp;
                    <h5>{{pie.weeks.next.ratios.even}}%</h5>&nbsp;
                    <small class="muted">{{ui.dashboard.statEven}}</small>,&nbsp;
                    <h5>{{pie.weeks.next.ratios.less}}%</h5>&nbsp;
                    <small class="muted">{{ui.dashboard.statLess}}</small>
                  </div>
                </div>
              </div>

            </div>

          </li>
        </ul>
        <!-- end pie loop -->

        <hr class="lastline" ng-hide="loadingPies || checkAnyPies()">
        <p ng-hide="loadingPies || checkAnyPies()">
          <small class="pull-right">
            <span class="text-warning">{{ui.dashboard.periods}}: </span>
            <span class="muted">
              &nbsp;
              {{periods.start}}
              &nbsp;|&nbsp;
              {{periods.end}}
            </span>
          </small>
        </p>

      </div>
      <!-- end pie charts for groups -->

      <!-- announcements sidebar -->
      <div class="widget {{(!browser.mobile) && 'span3' || 'span12'}}"
            style="{{(browser.mobile) && 'margin-left: 0'}}"
            ng-show="config.profile.p2000.status">

        <div class="head">
          <h4>{{ui.dashboard.announcements}}</h4>
        </div>
        <hr>

        <p ng-show="loading.alerts">{{ui.dashboard.loadingP2000}}</p>

        <!-- p2000 loop -->
        <ul id="announcements" ng-hide="loading.alerts">
          <li ng-show="alarms.list.length < 1">
            {{ui.dashboard.noP2000}}
          </li>
          <li ng-repeat="alarm in alarms.list">
            <table>
              <tr>
                <td class="first">
                  <span class="prio label label-important"  ng-show="alarm.prio.1">PRIO 1</span>
                  <span class="prio label label-warning"    ng-show="alarm.prio.2">PRIO 2</span>
                  <span class="prio label label-info"       ng-show="alarm.prio.3">PRIO 3</span>
                  <span class="prio label label-inverse"    ng-show="alarm.prio.test">PROEFALARM</span>
                </td>
                <td class="last">
                  <p>{{alarm.body}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <small class="muted"><i>{{alarm.msgCode}}</i></small>
                </td>
                <td>
                  <span class="label label-natural pull-right">{{alarm.day}} {{alarm.time}}</span>
                </td>
              </tr>
            </table>
          </li>
        </ul>
        <!-- end p2000 loop -->

        <hr ng-hide="loading.alerts" class="lastline">

        <!-- p2000 footer -->
        <p ng-hide="loading.alerts">
          <small class="pull-left">
            <span class="text-warning">{{ui.planboard.lastSyncTime}}</span>&nbsp;
            <span class="muted">{{synced.alarms | nicelyDate}}</span>
          </small>
          <br/>
          <small class="pull-left">
            <span class="text-warning">Capcode(s):</span>&nbsp;
            <span class="muted">{{capcodes}}</span>
            <span ng-hide="capcodes" class="muted">{{config.profile.p2000.codes}}</span>
          </small>
        </p>
        <!-- end p2000 footer -->

      </div>
      <!-- end announcements sidebar -->

  </div>
  <!-- end row-fluid -->

</section>