<div class="page-header">

  <!-- end compose buttons -->

</div>

<!-- inboxes -->

<!-- end inboxes -->


<!-- <br><br>
<button type="submit" 
        ng-click="createNotification()" 
        class="btn btn-success">Create Notification</button>
<button type="submit" 
        ng-click="deleteNotification()" 
        class="btn btn-danger">Delete Notification</button>
<button type="submit" 
        ng-click="editNotification()" 
        class="btn btn-warning">Edit Notification</button>
<button type="submit" 
        ng-click="getNotification()" 
        class="btn">Get Notification</button> -->