#confirmAddTeamModal.modal.fade(tabindex='-1',
role='dialog',
aria-labelledby='confirmAddTeamModal',
aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
					span.sr-only {{ ui.message.close }}
				h4#confirmAddTeamModalLabel.modal-title {{ui.teamup.teamNameExistTitle}}
			.modal-body
				| {{ui.teamup.teamNameExistContent}}
			.modal-footer
				button.btn.btn-default(type='button',
				data-dismiss='modal') {{ui.teamup.confirms.cancel}}