h1 scenarios
ul
	li
		a(ng-click='createClientGroup()') createClientGroup
	li
		a(ng-click='createClient()') createClient
	li
		a(ng-click='createTeam()') createTeam
	li
		a(ng-click='createTask()') createTask
	li
		a(ng-click='unassign()') unassign

