// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;



// Accent colors
// -------------------------
$blue:                  #35a8c9 !default; //
$blueDark:              #7772b5 !default; //
$green:                 #6f9a6d !default; //
$yellow:                #ffc40d !default;
$pink:                  #c3325f !default;
$purple:                #7772b5 !default; //

$turq:                  #1dc8b6 !default; // teamup
$orange:                #f5a962 !default; //  teamup
$brown:				    #833c11 !default; // teamup
$beige:                 #f5e6d8 !default; // teamup
$graytu:                #c8c8b4 !default; //  teamup
$red:                   #c85a3c !default; //  teamup
$offwhite:              #fffaf0 !default; // teamup


// Scaffolding
// -------------------------
$bodyBackground:        #fffaf0 !default; // $white !default;
$textColor:             $brown !default; // $grayDark !default;


