section#dashboard
	.page-header: h2 Dashboard
	br
	//- presence-overview
	//- smart-alarming
	snapshots
	summaries
	//- .row
		article(class="{{(!browser.mobile) && 'col-sm-9' || 'col-sm-12'}}")
			summaries
		article(class="{{(!browser.mobile) && 'col-sm-3' || 'col-sm-12'}}", ng-show='StandBy.config.profile.p2000.status')
			alarms
