.page-header
	h2.nullable {{ ui.help.header }}


.tabbable.tabs-left


	ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;')
		li(class="{{(views.teamTelephone==true) && 'active'}}",
			ng-show='app.domainPermission.teamTelephoneBasic')
			a(data-toggle='tab', ng-click='setViewTo("teamTelephone")')
				span.entypo &#128241
				| {{ ui.teamup.teamTelephone }}
		li(class="{{(views.teams==true) && 'active'}}")
			a(data-toggle='tab', ng-click='setViewTo("teams")')
				span.entypo &#128101;
				| {{ ui.teamup.teams }}
		li(class="{{(views.web==true) && 'active'}}"
			ng-show='app.domainPermission.tasks')
			a(data-toggle='tab', ng-click='setViewTo("web")')
				span.icomoon(data-icon='', aria-hidden='true')
				| Web
		li(class="{{(views.ios==true) && 'active'}}", ng-show="false")
			a(data-toggle='tab', ng-click='setViewTo("ios")')
				span.icomoon(data-icon='', aria-hidden='true')
				| IOS
		li(class="{{(views.android==true) && 'active'}}",
				ng-show='app.domainPermission.clients || app.domainPermission.chat')
			a(data-toggle='tab', ng-click='setViewTo("android")')
				span.icomoon(data-icon='', aria-hidden='true')
				| Android


	.tab-content

		#web.tab-pane(class="{{(views.web==true) && 'active'}}")
			.tab-header
				h3.pull-left {{ ui.help.web.title }}
			hr
			h4 {{ ui.help.web.newMember }}
			iframe(width="560" height="315" src="https://www.youtube.com/embed/s4rOjMugsxM?rel=0" frameborder="0" allowfullscreen)
			
		#teamsHelp.tab-pane(class="{{(views.teams==true) && 'active'}}")
			.tab-header
				h3.pull-left {{ ui.teamup.teams }}
			hr
			h4 {{ ui.help.teams.addNewMember }}
			iframe(width="560" height="315" src="https://www.youtube.com/embed/6Q90fR9iOeI?rel=0&hl=nl&cc_lang_pref=nl&cc_load_policy=1" frameborder="0" allowfullscreen)
			br
			br
			br
			h4 {{ ui.help.teams.addExistingMember }}
			iframe(width="560" height="315" src="https://www.youtube.com/embed/L3vcBoaK_W0?rel=0&hl=nl&cc_lang_pref=nl&cc_load_policy=1" frameborder="0" allowfullscreen)
			br
			br
			br
			h4 {{ ui.help.teams.removeMember }}
			iframe(width="560" height="315" src="https://www.youtube.com/embed/jXSPQYzrOgE?rel=0&hl=nl&cc_lang_pref=nl&cc_load_policy=1" frameborder="0" allowfullscreen)

		#teaTelephone.tab-pane(class="{{(views.teamTelephone==true) && 'active'}}")
			.tab-header
				h3.pull-left {{ ui.teamup.teamTelephone }}
			hr
			h4 {{ ui.help.manuelTeamTelephone.title }}
			a(href="downloads/HandleidingTeamTelefoon.pdf" title="Download TeamTelefoon handleiding" download="Handleiding TeamTelefoon.pdf")
				button.btn-primary.btn-mini.downloadButton
					i.glyphicon.glyphicon-download-alt
					|  {{ ui.help.manuelTeamTelephone.download }}
			br
			br
			br
			h4 {{ ui.help.teamTelephone.setReachabilityPhone }}
			iframe(width="560" height="315" src="https://www.youtube.com/embed/AVkSMv6j6V8?rel=0&hl=nl&cc_lang_pref=nl&cc_load_policy=1" frameborder="0" allowfullscreen)
			br
			br
			br
			h4 {{ ui.help.teamTelephone.setReachabilityWeb }}
			iframe(width="560" height="315" src="https://www.youtube.com/embed/TfJhgZ6-QbU?rel=0&hl=nl&cc_lang_pref=nl&cc_load_policy=1" frameborder="0" allowfullscreen)
			br
			br
			br
			h4 {{ ui.help.teamTelephone.changeReachabilityTeamMember }}
			iframe(width="560" height="315" src="https://www.youtube.com/embed/czrWm57RiGU?rel=0&hl=nl&cc_lang_pref=nl&cc_load_policy=1" frameborder="0" allowfullscreen)
			br
			br
			br
			h4 {{ ui.help.teamTelephone.changeCallOrderTeam }}
			iframe(width="560" height="315" src="https://www.youtube.com/embed/Dhz3SraPMuY?rel=0&hl=nl&cc_lang_pref=nl&cc_load_policy=1" frameborder="0" allowfullscreen)
			br
			br
			br
			h4(ng-show='app.domainPermission.smsNotification') {{ ui.help.teamTelephone.changeCallOptions }}
			iframe(ng-show='app.domainPermission.smsNotification' width="560" height="315" src="https://www.youtube.com/embed/zFlCjo9LP4o?rel=0&hl=nl&cc_lang_pref=nl&cc_load_policy=1" frameborder="0" allowfullscreen)
			

		#ios.tab-pane(class="{{(views.ios==true) && 'active'}}")
			.tab-header
				h3.pull-left IOS
			hr
			article: p IOS content..


		#android.tab-pane(class="{{(views.android==true) && 'active'}}")
			.tab-header
				h3.pull-left Android
			hr
			h4 {{ ui.help.android.addClientReport }}
			iframe(width="560" height="315" src="https://www.youtube.com/embed/yQ9WjjURw2c?rel=0" frameborder="0" allowfullscreen)
			br
			br
			br
			h4 {{ ui.help.android.callClient }}
			iframe(width="560" height="315" src="https://www.youtube.com/embed/IyQwP3zB7PI?rel=0" frameborder="0" allowfullscreen)
			br
			br
			br