<div id="welcome">



	<!-- preloader -->
	<div id="preloader">
		<img ng-src="{{config.profile.logos.login}}" alt="{{config.profile.title}}" />
	  <h4>{{ui.login.setting_up_app}}</h4>
	  <div class="progress progress-striped active" class="span3">
	    <div class="bar"></div>
	  </div>
	  <span class="muted"></span>
	</div>
	<!-- end preloader -->



	<!-- loginForm -->
	<div id="login" class="boxed" ng-show="views.login" ng-hide="views.help || views.changePass">
		<form ng-submit="login()">
		  <img ng-src="{{config.profile.logos.login}}" alt="{{config.profile.title}}" />


      <!--<h4 class="form-signin-heading">Verhuisd</h4>-->
      <!--<p>-->
        <!--Standby is verhuisd naar de volgende locatie:-->
        <!--<a href="http://knrm.standby.ask-cs.com/#/login">-->
          <!--http://knrm.standby.ask-cs.com/-->
        <!--</a>-->
      <!--</p>-->
      <!--<br/>-->


      <!--<h4 class="form-signin-heading">Maintenance</h4>-->
      <!--<p>Er vindt momenteel een upgrade plaats. De applicatie zal binnenkort weer beschikbaar zijn.-->
        <!--Bedankt voor uw geduld en excuses voor het ongemak.</p>-->
      <!--<br/>-->


      <h4 class="form-signin-heading">{{ui.login.header}}</h4>
      <div class="alert {{alert.login.type}}" ng-show="alert.login.display">
        <button class="close" type="button" ng-click="alert.login=false">×</button>
        {{alert.login.message}}
      </div>
		  <input
		    class=""
		    type="text"
		    ng-model="logindata.username"
		    placeholder="{{ui.login.placeholder_username}}"
		    autofocus>
		  <input
		      class=""
		      type="password"
		      ng-model="logindata.password"
		      placeholder="{{ui.login.placeholder_password}}">
		  <label class="checkbox span3">
		    <input
		      type="checkbox"
		      ng-model="logindata.remember">{{ui.login.label_rememberMe}}
		  </label>
		  <button class="btn btn-large btn-primary" type="submit">{{ui.login.button_login}}</button>
		  <p>
		  	<small>
          <a ng-click="views.forgot=true; views.login=false;">{{ui.login.forgot_password}}</a>
          <span>&nbsp;|&nbsp;</span>
		  		<a ng-click="views.help=true">{{ui.help.help}}</a>
		  	</small>
		  </p>
		  <p>
		  	<small>
			  	<a ng-click="changeLanguage('en')">English</a>
			  	&nbsp;|&nbsp;
			  	<a ng-click="changeLanguage('nl')">Nederlands</a>
		  	</small>
		  </p>



		  <span class="version"><a href="version.html" target="_blank">StandBy v{{config.version}}</a></span>
		</form>
	</div>
	<!-- end loginForm -->



	<!-- help -->
	<div id="login" class="boxed" ng-show="views.help" ng-hide="views.login || views.forgot || views.changePass">
		<form ng-submit="">
		  <img ng-src="{{config.profile.logos.login}}" alt="{{config.profile.title}}" />
		  <h4 class="form-signin-heading">{{ui.help.help}}</h4>

		  <p ng-repeat="content in ui.login.help.content" style="text-align: left;">{{content}}</p>
		  
		  <p>
		  	<small>
			  	<a ng-click="views.help=false; views.login=true">{{ui.login.help.cta}}</a>
		  	</small>
		  </p>
		</form>
	</div>
	<!-- end help -->



	<!-- remember login -->
	<div id="forgot" class="boxed" ng-show="views.forgot">
		<form ng-submit="forgot()">
		  <img ng-src="{{config.profile.logos.login}}" alt="{{config.profile.title}}" />
		  <h4 class="form-signin-heading">{{ui.login.forgetPassword}}</h4>
	      <div class="alert {{alert.forget.type}}" ng-show="alert.forget.display">
	        <button class="close" type="button" ng-click="alert.forget=false">×</button>
	        {{alert.forget.message}}
	      </div>
		  <input 
		    class="" 
		    type="text" 
		    ng-model="remember.id"
		    placeholder="{{ui.login.placeholder_username}}">

		  <button class="btn btn-large btn-primary" type="submit">{{ui.login.resetPassword}}</button>
		  <p><small><a ng-click="views.login=true; views.forgot=false">{{ui.login.returnLogin}}</a></small></p>
		  <span class="version"><a href="version.html" target="_blank">StandBy v{{config.version}}</a></span>
		</form>
	</div>
	<!-- end remember login -->


	
	<!-- change pass --> 
	<div id="changePass" class="boxed" ng-show="views.changePass">
		<form ng-submit="changePass()">
			<img ng-src="{{config.profile.logos.login}}" alt="{{config.profile.title}}" />
			<h4 class="form-signin-heading">{{changepass.uuid}}</h4>
			<div class="alert {{alert.changePass.type}}" ng-show="alert.changePass.display">
				<button class="close" type="button" ng-click="alert.changePass=false">×</button>
				{{alert.changePass.message}}
			</div>
			<input class="" type="password" ng-model="changeData.newPass" placeholder="{{ui.login.ph_newPass}}">
			<input class="" type="password" ng-model="changeData.retypePass" placeholder="{{ui.login.ph_retypePass}}">
			
			<button class="btn btn-large btn-primary" type="submit">{{ui.login.changePassword}}</button>

		    <br><span class="version"><a href="version.html" target="_blank">StandBy v{{config.version}}</a></span>
		</form>
	</div>
	<!-- end change pass -->


</div>


<!-- knrm users -->
<div id="demo_users" class="well" ng-show="demo_users">
	<h4>Test users</h4>
	<hr>
	<ul>
		<li ng-repeat="user in demo_users">
			<a ng-click="knrmLogin(user)">{{user.name}} ({{user.resources.role|translateRole}})</a>
		</li>
	</ul>
</div>
<!-- end knrm users -->
