.page-header
	h2.nullable Support


.tabbable.tabs-left


	ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;')
		li(class="{{(views.web==true) && 'active'}}")
			a(data-toggle='tab', ng-click='setViewTo("web")')
				span.icomoon(data-icon='', aria-hidden='true')
				| Web
		li(class="{{(views.ios==true) && 'active'}}", ng-show="false")
			a(data-toggle='tab', ng-click='setViewTo("ios")')
				span.icomoon(data-icon='', aria-hidden='true')
				| IOS
		li(class="{{(views.android==true) && 'active'}}")
			a(data-toggle='tab', ng-click='setViewTo("android")')
				span.icomoon(data-icon='', aria-hidden='true')
				| Android


	.tab-content


		#web.tab-pane(class="{{(views.web==true) && 'active'}}")
			.tab-header
				h3.pull-left Web applicatie
			hr
			h4 Hoe maak ik een nieuwe cliënt aan?
			iframe(width="560" height="315" src="https://www.youtube.com/embed/s4rOjMugsxM?rel=0" frameborder="0" allowfullscreen)
			br
			br
			br

		#ios.tab-pane(class="{{(views.ios==true) && 'active'}}")
			.tab-header
				h3.pull-left IOS
			hr
			article: p IOS content..


		#android.tab-pane(class="{{(views.android==true) && 'active'}}")
			.tab-header
				h3.pull-left Android
			hr
			h4 Hoe voeg ik een cliënt rapport toe?
			iframe(width="560" height="315" src="https://www.youtube.com/embed/yQ9WjjURw2c?rel=0" frameborder="0" allowfullscreen)
			br
			br
			br
			h4 Hoe werkt het als ik een cliënt wil bellen?
			iframe(width="560" height="315" src="https://www.youtube.com/embed/IyQwP3zB7PI?rel=0" frameborder="0" allowfullscreen)
			br
			br
			br