.page-header
	h2 Upload
.tabbable.tabs-left
	ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;')
		li.active
			a(data-toggle='tab')
				span.icomoon(data-icon='', aria-hidden='true')
				| Upload
	.tab-content
		#upload.tab-pane.active
			#UploadProgressBar
				p#breadcrumb
					| Bestand kiezen

			#UploadStepSelectFile(ng-show='step === "SelectFile"')
				.tab-header
					h3 Bestand kiezen
				hr
				div(style='display:none;')
					| Output Format:
					select(name='format')
						option(value='csv', selected='')  CSV
						option(value='json')  JSON
						option(value='form', selected='')  FORMULAE
					br

				div(id='uploadSheetPicker')
					button(class="btn btn-primary") Upload spreadsheet...
					input(type="file", name='xlfile', onchange='angular.element(this).scope().handleFile(this.files)', class='uploadSheetButton')


				#drop(drag-enter-leave='sheetEntering' ondragover='angular.element(this).scope().handleDragover(event)', ondragenter='angular.element(this).scope().handleDragenter(event)', ondrop='angular.element(this).scope().handleDrop(event)')
					|Sleep een spreadsheet (XLSX, XLSM of XLSB) hier naar toe.
				div(style='display:none;')
					| Advanced Demo Options:
					// br
					// | Use Web Workers: (when available)
					// input(type='checkbox', name='useworker', checked='')
					br
					| Use Transferrables: (when available)
					input(type='checkbox', name='xferable', checked='')
					br
					| Use readAsBinaryString: (when available)
					input(type='checkbox', name='userabs', checked='')
					br

			#UploadStepCheckNames(ng-show='step === "CheckNames"')
				.tab-header
					h3.pull-left Namen controleren
				hr
				button(ng-click="uploadStepConfirmNames()", class='btn btn-primary') Verder gaan
				#UploadStepCheckTeamMemberNames
					h4 Team Leden
					form
						fieldset
							div(ng-repeat="matchedPerson in matchedTeamMembersByName")
								label {{ matchedPerson.originalName }}
								span
									select(ng-model="matchedPerson.person",
										ng-options="alternative.person as alternative.person.fullName + ' (' + (alternative.score * 100).toFixed() + '%)' for alternative in matchedPerson.alternatives")

				#UploadStepCheckClientNames
					h4 Cli&euml;nten
					form
						fieldset
							div(ng-repeat="matchedPerson in matchedClientsByName")
								label {{ matchedPerson.originalName }}
								span
									select(ng-model="matchedPerson.person",
										ng-options="alternative.person as alternative.person.fullName + ' (' + (alternative.score * 100).toFixed() + '%)' for alternative in matchedPerson.alternatives")

			#UploadStepSelectSheet(ng-show='step === "SelectSheet"')
				.tab-header
					h3.pull-left Week kiezen
				hr
				div(class="SheetDiv" ng-repeat="sheetName in sheetNames" ng-click="selectSheet(sheetName)")
					{{ sheetName }}

			#UploadStepCheckStructure(ng-show='step === "CheckStructure"')
				.tab-header
					h3.pull-left Routes controleren
				hr
				button(ng-click="uploadStepCheckNames()", class='btn btn-primary') Verder gaan
				#UploadStepShowErrors(ng-show="tuSheet.errors.length > 0")
					h3 Fouten
					p(ng-repeat="error in tuSheet.errors")
						| Foutcode {{ error.code + ": "}}
						span {{ error.text }}
				#UploadStepShowRoutes
					.SheetDayDiv(ng-repeat="day in tuSheet.days")
						.SheetDayDivHead
							h3 {{ day.startDate | date: 'EEEE' }}
							.SheetDayDateDiv {{ day.startDate | date: 'longDate' }}
							.sheetDayDivHandler
								.SheetDayNameDiv(ng-show="day.taskExist")
									span Taken:#{' '} {{ day.doInsert ? 'aan' : 'uit' }}
								.SheetDayNameToggleDiv(ng-show="day.taskExist")
									input(type='checkbox', ng-model='day.doInsert', ng-change="toggleDayInsert(day)")
						.SheetRouteDiv(ng-repeat="route in day.routes")
							h4 {{ route.name }}
							.SheetRouteTeamMemberDiv
								.SheetRouteTeamMemberNameDiv
									span
										| Teamlid:#{' '}
										span {{ route.teamMemberName ? route.teamMemberName : "niemand" }}
								.SheetRouteTeamMemberToggleDiv
									input(type='checkbox', ng-show='route.teamMemberName', ng-model='route.doInsert', ng-change="toggleRouteInsert()")
							.SheetTaskDiv(ng-repeat="task in route.tasks")
								.SheetTaskStartDiv {{ task.backendTask.plannedStartVisitTime | date: 'shortTime'  }}
								.SheetTaskClientDiv
									| {{ task.clientName ? ( task.client ? ( task.client.fullName + " (" + (task.clientScore * 100).toFixed() + "%)" ) : task.clientName ) : "niemand" }}
								.SheetTaskDurationDiv {{ task.duration }}
								.SheetTaskToggleDiv
									input(type='checkbox', ng-model='task.doInsert')

			#UploadStepCreateTasks(ng-show='step === "CreateTasks"')
				.tab-header
					h3.pull-left Taken aanmaken
				hr
				div.taskErrors(ng-show='taskCreateErrors.length > 0')
					h5 De volgende taken konden niet geupload worden
					ul
						li(ng-repeat='task in taskCreateErrors' class='has-error') {{ task.error.result  }} {{ task.backendTask.plannedStartVisitTime | date: 'dd-MM-yyyy h:mm a' }}

				hr
				.dayRow(ng-repeat="day in tuSheet.days")
					{{ day.startDate | date: 'fullDate' }}
					.routeRow(ng-repeat="route in day.routes | filter: { doInsert: true }")
						{{ route.teamMember.firstName }}
						.taskRow(ng-repeat="task in route.tasks | filter: { doInsert: true }")
							.taskRowUploadStatus(ng-class="{ taskFailed: task.uploadStatus === 'failed' , taskSuccess: task.uploadStatus === 'success' }") {{ textForTaskUploadStatus(task.uploadStatus) }}
							.taskRowStart {{ task.backendTask.plannedStartVisitTime | date: 'shortTime' }}
							.taskRowEnd {{ task.backendTask.plannedEndVisitTime | date: 'shortTime' }}
							.taskRowClient {{ task.client.fullName }}



			pre#out
			br

