.page-header
	h2.nullable Video


.tabbable.tabs-left


	ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;')
		li(class="{{'active'}}")
			a(data-toggle='tab', ng-click='setViewTo("web")')
				span.icomoon(data-icon='', aria-hidden='true')
				| Video


	.tab-content
		#web.tab-pane(class="{{'active'}}")
			.tab-header
				h3.pull-left Video gesprek met testgebruiker
			hr
			div.frame-container
				iframe(data-ng-src="{{ getRoom() }}" frameborder="0" allowfullscreen)