.page-header
	h2.nullable {{ ui.video.title }}


.tabbable.tabs-left


	ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;')
		li(class="{{'active'}}")
			a(data-toggle='tab', ng-click='setViewTo("web")')
				span.icomoon(data-icon='', aria-hidden='true')
				| {{ ui.video.title }}

	.tab-content
		#web.tab-pane(class="{{'active'}}")
			//.tab-header
			//	h3.pull-left Video gesprek met testgebruiker
			//hr
			.tab-header(ng-if='! hasCall')
				p {{ ui.video.videoNotLoaded }}
			hr
			div( class="responsive_video")
				iframe(data-ng-src="{{ getCall() }}" frameborder="0" allowfullscreen)
				//(class="embed-responsive embed-responsive-16by9")
						.frame-container
				///embed-responsive embed-responsive-16by9
					//ng-if="hasCall"