//.page-header
//	h2.nullable {{ ui.video.title }}
//

.tabbable.tabs-left(style="top: -100px;")


	ul.nav.nav-tabs.nav-tabs-app(style='margin-right: 0px;')
		li(class="{{'active'}}")
			a(data-toggle='tab', ng-click='setViewTo("web")')
				span.icomoon(data-icon='', aria-hidden='true')
				| {{ ui.video.title }}

	.tab-content.video-conversation
		.tab-header(ng-if='! hasCall')
			p {{ ui.video.videoNotLoaded }}
		div(class="responsive_video")
			iframe(data-ng-src="{{ getCall(sendHeight) }}" frameborder="0" allowfullscreen)