/* The localConfig.js should never go into the source control repository.
   The template for this file is in localConfig.js.example. Copy the
   localConfig.js.example to localConfig.js to use it. The localConfig.js file is
   in the .gitignore and therefore will never be commited to git.
   Use vimdiff or other diff tools to compare and update the
   localConfig.js.example with the localConfig.js file.
*/

var localConfig = {
  /* The host parameter defines which backend is used. Most common
     values are:
  */
	host: ["http://dev.ask-cs.com/"]
	//host: ["http://test.ask-cs.com/"]
	//host: ["http://demo.ask-cs.com/"]
  /* host: [
      "https://backend.ask-cs.nl/",
      "http://192.168.128.24:8080/"
  ],*/

  /* The otapRole parameter tells what kind of backend we're using. Most
     common values are:
   */
	otapRole: "dev",
	//otapRole: "test",
	//otapRole: "demo",
	//otapRole: "live",
	//otapRole: "local",

  /* The default profile parameter is used if the profile can't be derived from
     the URL. For example, if you're using a local grunt server, the URL
     will be something like http://localhost:3000/. In these cases this
     parameter is used. Common values are:
  */
	defaultProfile: "teamup"
	//defaultProfile: "teamtelefoon"

};

/**
 Profiles

 ********
 * Dev
 * ******
 * Test
 * liza->askaskask
 * handers->askask11
 * jlima->askask11
 *  Demo
 *  ecare___stefan askaskask
 * ******
 * Live
 * ******
 * jhellingman
 * Ikbenjeroen1
 * ******
 * Local
 * ******

 **/