doctype
html(ng-app='AskVis')
  head
    meta(charset='utf8')
    base(href='/')
    title Ask-Vis
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/js/lib/vis/dist/vis.min.css')
    link(rel='stylesheet', href='/css/styles.css')
  body
    a(href='https://github.com/askcs/ask-vis')
      img(style='position: absolute; top: 0; right: 0; border: 0; z-index: 1000;',
      src='https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67',
      alt='Fork me on GitHub',
      data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png')
    block body
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
    script(src='https://code.angularjs.org/1.2.16/angular-resource.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js')
    script(src='js/lib/vis/dist/vis.min.js')
    script(src='dist/ng-vis.js')
    script(src='js/app.js')
    block live-reload